{{ define "title" }} | {{ .Title }}{{ end }}

{{ define "navbar" }} {{ partial "navbar/light-transparent.html" . }} {{ end }}

{{ define "body" }}

<div class="container-fluid" id="page-content">
  <section class="header-with-img-bg" style="background-image: url({{ .Params.image }})">
    <div class="header-with-img-bg__split-content">
      <div class="header-with-img-bg__left">
        <a href="../" class="header-with-img-bg__link">
          <p class="header-with-img-bg__section  header-with-img-bg__section--white">
            Training
          </p>
        </a>
        <h1 class="header-with-img-bg__title">{{ .Title }}</h1>
      </div>
      <div class="header-with-img-bg__right">
        <blockquote class="header-with-img-bg__quote">
          <p>“I thought it was excellent, I wouldn’t change anything”</p>
          <cite>10/10</cite>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="pink-stripes-section">
    <article class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="">{{ .Content }}</div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          {{ partial "eventbrite/embedded-form.html" . }}
        </div>
      </div>
    </article>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Course Dates</h2>
          <div class="course-dates">
            {{ range.Params.course_dates }}
            <article class="course-date">
              <time class="course-date__time">{{ .date }}</time>
              <h3 class="course-date__title">
                {{ .title }}: <strong>{{ .level }}</strong>
              </h3>
            </article>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="stripes-and-square-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Participant levels</h2>
          <div class="white-tiles">
            {{ range where .Pages "Params.type" "course" }}
            <article class="white-tile">
              <h3 class="white-tile__title">{{.Title}}</h3>
              <div class="white-tile__content">
                {{ .Content }}
              </div>
              <a href="{{ .Params.link }}" class="white-tile__link">Learn more</a>
            </article>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Speakers</h2>
          <div class="speaker-bios">
            {{ range where .Pages "Params.type" "bio" }}
            <div class="speaker-bio">
              <figure class="speaker-bio__img" style="background-image: url({{ .Params.bio_pic_url }})" aria-hidden="true"></figure>
              <div class="speaker-bio__content">
                <h2 class="speaker-bio__name">{{ .Title }}</h2>
                <p class="speaker-bio__title">{{ .Params.job_title }}</p>
              </div>
            </div>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ end }}

{{ define "cta" }} {{ partial "ctas/email-only"}} {{ end }}

{{ define "footer" }} {{ partial "footer/minimal-light.html" . }} {{ end }}