{{ $config := .Site.Data.config }}
{{ $url := .URL }}

<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="cta__main cta__main--centered">
          <div class="cta__copy">
            <h5>
              Get started with Jetstack
            </h5>
            <p>If you can’t see the job for you in our current openings, please contact us at <a class="cta__link" href="mailto:jobs@jetstack.io">jobs@jetstack.io</a> as we are always looking for great talent</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>