<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="cta__main">
          <div class="cta__copy" style="padding-right: 0; margin-right: 0;">
            <p class="text-center">
                View our <a class="cta__link" style="text-decoration: underline;" href="/subscription/#training">online training offering</a> as part of Jetstack Subscription
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
