<div class="bio">
  <a href="{{.RelPermalink}}">
    <figure class="bio__img" aria-hidden="true">
      <img src="{{ .Params.image }}" style="width: 100%;height: 100%;object-fit: cover;"></img>
    </figure>
  </a>
  <div class="bio__content">
    <h2 class="bio__name">{{ .Title }}</h2>
    <p class="bio__title">{{ .Params.position }}</p>
    <p class="bio__from">
      {{ if .Params.hails_from }}
        {{ range $.Params.hails_from }}
          <img class="{{ index . "class" }}" src="/img/svg/flags/{{ index . "name" }}.svg"/>
        {{ end }}
      {{ end }}
    </p>
    <p class="bio__social">
      {{ if .Params.twitter }}
      <a href="https://twitter.com/{{.Params.twitter}}" class="bio__social-icon" target="_blank" rel="noopener noreferrer">
        {{ partial "svg/icon-bio-twitter.svg" }}
      </a>
      {{ end }}

      {{ if .Params.github }}
      <a href="https://github.com/{{ .Params.github }}" class="bio__social-icon" target="_blank" rel="noopener noreferrer">
        {{ partial "svg/icon-bio-github.svg" }}
      </a>
      {{ end }}

      {{ if .Params.email }}
      <a href="mailto:{{ .Params.email }}" class="bio__social-icon" target="_blank" rel="noopener noreferrer">
        {{ partial "svg/icon-bio-email.svg" }}
      </a>
      {{ end }}
    </p>
  </div>
</div>
