{{ $active := .active }}
{{ range .links }}
  <li class="Navbar__item">
    <a href="{{ .link }}" class="Navbar__link{{ if hasPrefix $active .link }} current{{ end }}{{ if .sublinks }} Navbar__link--sublinks{{ end }}">
      {{ .name }}
    </a>
    {{ if .sublinks }}
      <ul class="Nav__sublinks">
      {{ range $sublink := .sublinks }}
        <li class="Navbar__item">
          <a href="{{ $sublink.link }}" class="Navbar__link{{ if hasPrefix $active $sublink.link }} Navbar__link--active{{ end }}">
            {{ $sublink.name }}
          </a>
        </li>
      {{ end }}
        </ul>
    {{ end }}
  </li>
{{ end }}