#locations {
    padding-top: 3em;
}

p.locations {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

p.locations a {
    text-decoration: none;
    padding: 0 1.25em;
}

p.locations a:hover {
    text-decoration: underline;
}

p.locations a.current {
    color: black;
}

#map {
    min-height: 680px;
}

img.contact-map-logo {
    margin-top: 15px;
    height: 20px;
}

address.contact-map-address {
    margin-top: 15px;
    font-weight: 500;
}
