#header {
    border: 0;
    height: 0;
}

#header #dynamic-nav {
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav > li > a {
    color: white;
}

#lead-image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2;
}

#lead-image .video {
    width: 100%;
    height: 100%;
}

#lead-image .overlay {
    background: #1B1C29;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.2;
}

#lead-image .down-arrow {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

#lead-image .down-arrow img {
    width: 40px;
    height: 40px;
    text-align: center;
}

#lead-image .masthead {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#lead-image .masthead h1 {
    font-size: 50px;
    color: white;
}

#lead-image .masthead p {
    font-size: 24px;
    width: 60%;
}

@media (max-width: 769px) {
    #lead-image .masthead {
        width: 90%;
    }

    #lead-image .masthead h1 {
        font-size: 2.5em;
        text-align: center;
    }

    #lead-image .masthead p {
        text-align: center;
        width: auto;
    }
}

#home-content {
    background: white;
    position: absolute;
    top: 100%;
    width: 100%;
}

#home-content .home-block {
    padding: 6em 0;
}

#home-content .intro-text {
    text-align: center;
}

#home-content .intro-text h2 {
    margin-bottom: 0.5em;
}

#home-content .intro-text p {
    font-size: 20px;
}

@media (max-width: 480px) {
    #home-content .intro-text {
        max-width: 90%;
        margin: 0 auto;
    }
}

#home-content .image-banner {
    width: 100%;
    overflow: hidden;
}

#home-content .image-banner .image-container {
    display: flex;
    width: 100%;
    padding: 0.15%;
}

#home-content .image-banner .image-container div {
    flex: 1;
    width: 50%;
    height: auto;
}

#home-content .image-banner .image-container div img {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0%;
}

@media (max-width: 769px) {
    #home-content .image-banner .image-container {
        display: block;
    }

    #home-content .image-banner .image-container div {
        width: 100%;
    }
}

#home-content .service-overview {
    clear: both;
    padding: 5em 0;
}

#home-content .service-overview .kubernetes {
    margin: 0 auto;
    width: 65%;
    height: 160px;
}

#home-content .service-overview .kubernetes .logo, #home-content .service-overview .kubernetes .overview {
    float: left;
    width: 50%;
    overflow: hidden;
}

#home-content .service-overview .kubernetes .logo {
    text-align: center;
    margin-top: -15px;
}

#home-content .service-overview .kubernetes .logo img {
    width: 55%;
    margin: 0 auto;
    max-width: 250px;
}

#home-content .service-overview .kubernetes .overview ul {
    padding-left: 20px;
    margin-bottom: 2em;
}

#home-content .service-overview .kubernetes .overview ul li {
    color: #1768E2;
}

#home-content .service-overview .kubernetes .overview ul li p {
    color: black;
    margin-left: 1em;
    margin-bottom: 0.25em;
}

@media (max-width: 992px) {
    #home-content .service-overview .kubernetes {
        width: 80%;
    }
}

@media (max-width: 769px) {
    #home-content .service-overview {
        padding: 0;
    }

    #home-content .service-overview .kubernetes {
        width: 90%;
        height: auto;
    }

    #home-content .service-overview .kubernetes .logo, #home-content .service-overview .kubernetes .overview {
        float: none;
        margin: 1em auto;
        width: 80%;
    }

    #home-content .service-overview .kubernetes .logo {
        margin-bottom: 2em;
    }
}

@media (max-width: 480px) {
    #home-content .service-overview .kubernetes .logo img {
        max-width: 80%;
    }
}

#partners .logo-grid {
    padding-bottom: 5em;
}

#partners .logo-grid.last {
    padding-bottom: 2em;
}

#partners .row {
    display: flex;
    width: 80%;
    margin: 4em auto 0;
    justify-content: center;
}

#partners .row div {
    flex: 1;
    align-self: center;
    margin: 2% 6%;
    max-height: 55px;
    position: relative;
}

#partners .row div img {
    width: 100%;
    height: auto;
}

#partners .row div.logo.elevate img {
    max-height: 65px;
    width: auto;
}

#partners .row div .btn-default {
    background: none;
    border: 1px solid white;
    color: white;
    width: 180px;
    height: 55px;
    font-size: 1.25em;
    line-height: 2em;
    color: white;
    background: #1768E2;
}

@media (max-width: 769px) {
    #partners .logo-grid {
        margin-top: 2em;
    }

    #partners .row {
        display: block;
        margin: 0 auto;
    }

    #partners .row div {
        max-width: 50%;
        max-height: 100%;
        height: auto;
        margin: 2em auto;
    }

    #partners .row div.logo.empty {
        display: none;
    }

    #partners .row div.logo.elevate {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    #partners .row div {
        max-width: 90%;
    }
}

#testimonials {
    padding: 0;
}

#testimonials blockquote {
    padding: 2em 0;
    border: 0;
    font-weight: 500;
    font-size: 2em;
    max-width: 720px;
}

#testimonials .carousel-inner {
    height: 340px;
    position: relative;
}

#testimonials .item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#testimonials .pagination {
    float: right;
}

#testimonials #carousel .carousel-control-container {
    width: 75px;
    position: absolute;
    right: 25%;
    top: 0;
    height: 100%;
}

#testimonials #carousel .carousel-control {
    position: absolute;
    color: black;
    text-shadow: none;
    font-weight: 300;
}

#testimonials #carousel .carousel-control img {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 35px;
}

#testimonials #carousel .carousel-control.left, #testimonials #carousel .carousel-control.right {
    background: none;
}

.carousel-control .glyphicon-chevron-right {
    right: 0;
}

.carousel-control .glyphicon-chevron-left {
    left: 0;
}

@media (max-width: 1192px) {
    #testimonials #carousel .carousel-control-container {
        right: 15%;
    }
}

@media (max-width: 992px) {
    #testimonials #carousel .carousel-control {
        top: 69%;
    }
}

@media (max-width: 769px) {
    #testimonials blockquote {
        font-size: 1.2em;
    }
}

#latest-insights {
    background: white;
    text-align: center;
}

#latest-insights .row {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

#latest-insights .row .insight {
    flex: 1;
    padding: 0 3em;
}

#latest-insights .row .insight .image-zoom-container {
    width: 100%;
    height: auto;
}

#latest-insights .row .insight .image-zoom-container img {
    width: 100%;
}

#latest-insights .row .insight h3 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

#latest-insights .row .insight p, #latest-insights .row .insight p a {
    text-align: left;
    text-decoration: underline;
    color: #CDCDCD;
    font-size: 18px;
}

@media (max-width: 992px) {
    #latest-insights .row .insight {
        padding: 0 2em;
    }
}

@media (max-width: 769px) {
    #latest-insights .row {
        display: block;
    }

    #latest-insights .row .insight {
        padding: 0 2em 2em;
    }
}

@media (max-width: 480px) {
    #latest-insights .row .insight {
        padding: 0;
    }
}

#engine section {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#engine .logo {
    width: 50%;
}

#engine .features {
    width: 50%;
    text-align: left;
}

#engine .features .headline {
    font-weight: bold;
}

#engine .features .bulletpoints {
    margin-top: 40px;
}

#engine .features .bulletpoint {
    font-size: 1.4em;
    padding-bottom: 20px;
}

#engine .features .bulletpointimg {
    float:left;
    padding-right:20px;
}

#engine .features .bulletpointtext {
    display: inline-block;
}

#engine .features .strapline {
    font-weight:bold;
    color: #999;
    font-size: 1.4em;
}


#engine .logo img {
    width: 200px;
    height: auto;
}

@media (max-width: 1000px) {
    #engine .features .bulletpoint {
        font-size: 1em;
    }

}

@media (max-width: 769px) {
    #engine .logo {
        margin-top: 50px;
        width: 100%;
    }

    #engine .features .bulletpoint {
        font-size: 1em;
    }

    #engine .features {
        text-align: center;
        width: 100%;
    }
    #engine .features .bulletpointimg {
        display: none;
    }

}

