body {
    font-family: sofia-pro, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: #1B1C29;
}

h1 {
    font-size: 49px;
    margin-bottom: 0.5em;
    word-spacing: 8px;
    color: #1B1C29;
}

h2 {
    font-size: 28px;
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #7e8087;
}

a {
    color: #1768E2;
}



@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}

#header {
    height: 100px;
}

#header nav {
    padding-top: 25px;
    height: 100px;
    padding-bottom: 25px;
    background: #1B1C29;
    font-size: 18px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#header nav .navbar-toggle .icon-bar {
    background: white;
}

#header nav .navbar-collapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#header nav.white {
    background: #ffffff;
    border-bottom: 1px solid lightgray;
}

#header nav.white .navbar-toggle .icon-bar {
    background: black;
}

#header nav.transparent {
    background: none;
}

#header nav.above {
    top: -2500px;
}

#header nav.atop {
    z-index: 3;
}

.navbar-brand {
    padding: 0px !important;
}
.navbar-brand img {
    margin-top: 5px;
    height: 40px;
}


@media (max-width: 769px) {
    .navbar-brand img {
        margin-left: 20px;
        margin-top: 15px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        margin-left: 20px;
        margin-top: 15px;
        height: 20px;
    }
}

@media (max-width: 280px) {
    .navbar-brand img {
        display: none;
    }
}


.navbar-nav > li > a {
    color: #888A90;
    padding: 15px 1.5em;
}

.navbar-nav > li > a.current {
    color: white;
}

.navbar.white .navbar-nav > li > a.current {
    color: black;
}

#strapline {
    text-align: center;
}

#strapline p {
    font-size: 24px;
    color: #B0B0B0;
}

#strapline h1 {
    font-weight: 700;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 769px) {
    #strapline h1 {
        width: 90%;
        margin: 0 auto 0.25em;
    }

    #strapline p {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

.text-light {
    color: white;
}

.text-dark {
    color: #0f0f0f;
}

.text-light-alt {
    color: #888A90;
}

.text-light-blue {
    color: #1768E2;
}

.container-fluid {
    padding: 0;
}

@media (max-width: 992px) {
    .nav > li > a {
        padding: 15px 1em;
        font-size: 15px;
    }
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
    color: #dddddd;
}

.btn-primary {
    color: white;
    background: #1768E2;
    padding: 1em 0;
    text-align: center;
    border-radius: 0;
}

.btn-primary:hover, .btn-primary:active {
    background: white;
    border: 1px solid #1768E2;
    color: #1768E2;
}

.block {
    padding: 0;
}

div.image-zoom-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

div.image-zoom-container a img {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}

div.image-zoom-container a img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

#footer {
    background: #1B1C29;
}

#footer .pre-footer {
    background: #f2f7fc;
    text-align: center;
}

#footer .pre-footer h3 {
    font-size: 28px;
    font-weight: 700;
}

#footer .pre-footer .footer-form {
    padding: 1.5em 0 0;
}

#footer .pre-footer .footer-form input {
    padding: 15px;
    width: 405px;
}

#footer .pre-footer .footer-form .btn {
    font-size: 18px;
    height: 58px;
    width: 230px;
    line-height: 1em;
    margin-top: -5px;
    margin-left: 0.5em;
}

#footer .main-footer {
    text-align: left;
    padding: 4em 0;
}

#footer .main-footer .item.logo img {
    width: 150px;
    text-align: left;
}

#footer .main-footer .item.social {
    text-align: right;
}

#footer .main-footer .item.social a {
    text-decoration: none;
}

#footer .main-footer .item.social a img {
    width: 35px;
    margin: 0 0.5em;
}

#footer .main-footer .item.social a:hover {
    text-decoration: none;
}

#footer .main-footer .item.social a:hover img {
    opacity: 0.5;
}

#footer .main-footer .row.footer-menu {
    width: 60%;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 18px;
}

#footer .main-footer .row.footer-menu .item {
    flex: auto;
}

#footer .main-footer .row.footer-menu a {
    color: #919195;
}

@media (max-width: 992px) {
    #footer .main-footer .row.footer-menu {
        width: 75%;
        font-size: 16px;
    }
}

#footer .main-footer .copyright {
    margin-top: 0.5em;
}

#footer .main-footer .copyright p {
    color: #919195;
    font-size: 14px;
}

@media (max-width: 769px) {
    #footer .main-footer .item.logo, #footer .main-footer .item.social {
        float: none;
        text-align: center;
        margin-bottom: 2em;
    }

    #footer .main-footer .item.social {
        margin-bottom: 1em;
    }

    #footer .main-footer .row.footer-menu {
        margin: 0 auto;
        text-align: center;
    }

    #footer .main-footer .row.footer-menu .item {
        margin-bottom: 0.5em;
    }

    #footer .main-footer .copyright p {
        text-align: center;
    }
}

.row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row .item {
    flex: 1;
}

@media (max-width: 769px) {
    .row {
        display: block;
    }

    .item {
        float: none;
        margin: 0 auto;
    }
}

section {
    padding: 6em 0;
    position: relative;
}

section.tight {
    padding-top: 0;
    padding-bottom: 0;
}

section.thin {
    padding: 3em;
}

section.center {
    text-align: center;
}

section.white {
    background: white;
}

section.blue {
    background: #1B1C29;
}

section.darkblue {
    background: #080d15;
}

section.grey {
    background: #f2f2f2;
}

section.bordered {
    border: 1px solid #f2f2f2;
}

.lightblue {
    background: #f2f7fc;
}

/**
 * Mobile Navigation
 */

#header nav.opened {
    height: 100% !important;
    background: #1B1C29;
}

#header nav.transparent.atop.opened {
    position: absolute;
    width: 100%;
    margin-left: -15px;
}

#header nav.opened.white {
    background: white;
}

#header nav.opened .navbar-brand {
    padding: 0px;
}

#header nav.opened .navbar-brand img {
    height: 40px;
}

#header nav.opened ul {
    text-align: center;
}

#header nav.opened .container, #header nav.opened .navbar-collapse {
    height: 100%;
    max-height: 100%;
}

#header nav.opened .navbar-collapse {
    padding-top: 20px;
}

#header nav.opened ul li.hidden {
    display: block !important;
}

#header nav.opened ul li.social {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#header nav.opened ul li.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0.5em;
}

#header nav.opened ul li.social a:hover img {
    opacity: 0.5;
}

#header nav.opened ul li.social a img {
    width: 100%;
    height: auto;
}

#header nav.opened ul li.copyright {
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 25px;
    width: 100%;
}

#header nav.opened.white ul li.copyright {
    color: #888A90;
}

#header nav.opened .nav > li > a {
    font-size: 18px;
    padding: 0.75em;
}



.calltoactionbutton {
    margin-top: 2em;
    width: 213px;
    height: 58px;
    font-size: 18px;
    padding: 0;
    line-height: 55px;
}

.black {
    color: black;
}

/* Diagonal media component used on the Training page */
.diagonal__content {
    text-align: center;
    background-color: #f2f7fc;
    padding: 40px 20px;
    color: #5f5f5f;
}

.diagonal__image {
    width: 100%;
    height: auto;
    display: block;
}

.diagonal__image-container {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.diagonal__svg {
   display: none;
}

.diagonal__heading {
    font-size: 16px;
    font-weight: 500;
    color: #1b1c29;
}

.diagonal__copy {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0 30px;
}

.diagonal.diagonal--opposite .diagonal__content {
    background-color: #1b1c29;
    color: #b0b0b0;
}

.diagonal.diagonal--opposite .diagonal__heading {
    color: white;
}

@media screen and (min-width: 768px) {
    .diagonal {
        display: flex;
        min-height: 440px;
        align-items: stretch;
    }

    .diagonal__content {
        order: 1;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .diagonal__image-container {
        order: 2;
        flex: 1;
    }

    .diagonal__svg {
        display: block;
        position: absolute;
        top: 0; 
        bottom: 0;
        left: 0;
        height: 100%;
        width: auto;
    }
    .diagonal__svg polygon {
        fill: #f2f7fc;
    }
    
    .diagonal__copy {
        max-width: 500px;
    }

    .diagonal.diagonal--opposite .diagonal__content {
        order: 2;
    }

    .diagonal.diagonal--opposite .diagonal__image-container {
        order: 1;
    }

    .diagonal.diagonal--opposite .diagonal__svg {
        left: auto;
        right: 0;     
    }

    .diagonal.diagonal--opposite .diagonal__svg polygon {
        fill: #1b1c29;
    }
}

/* New style testimonial  */
.testimonial {
    border-left: 0;
    padding-left: 0;
}

.testimonial__copy {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    color: #3f56ea;
}

.testimonial__cite {
    font-weight: 500;
}

/* Feature list box  */

.featurelist__container {
    background-color: #3f56ea;
    color: white;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 40px;
}

.featurelist {
    position: relative;
}



.featurelist__list {
    padding-left: 20px;
    margin: 0;
}

.featurelist__list li {
    margin: 40px 0;
}

@media screen and (min-width: 768px) {
    .featurelist__container {
        width: 85%;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 140px;
        position: relative;
    }

    .featurelist::before {
        content: '';
        background: #f2f7fc;
        width: 75%;
        height: 60%;
        position: absolute;
        z-index: -1;
        bottom: -20%;
        right: -20%;
    }
}


.image-with-tile__img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 70px;
}

.image-with-tile.image-with-tile--horizontal .image-with-tile__img {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .image-with-tile {
        margin-top: 150px;
        position: relative;
    }
}

@media screen and (min-width: 992px) { 
    .image-with-tile::before {
        content: '';
        background: #f2f7fc;
        width: 55%;
        height: 60%;
        position: absolute;
        z-index: -1;
        top: -20%;
        left: -20%;
    }

    .image-with-tile.image-with-tile--horizontal {
        margin-top: 0;
    }

    .image-with-tile.image-with-tile--horizontal::before {
        right: -20%;
        left: auto;
        top: 20%;
    }
}

/* Media tile (image / copy) (used on Consulting template) */
.media-component__content {
    padding: 20px;
    position: relative;
}

.media-component__popout-list {
    color: white;
    background-color: #3f56ea;
    padding: 20px;
    list-style: none;
    margin: 20px 0;
}

.media-component__popout-list-item {
    padding: 15px 0;
    border-bottom: 1px solid white;
}

.media-component__popout-list-item:last-child {
    border: 0;
}

.media-component__image {
    min-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-component__links {
    margin: 40px 0;
}

.media-component__links a {
    display: inline-block;
    margin-right: 20px;
}

.media-component__image-content-container {
    width: 40%;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

.media-component__image-content-container img {
    width: 100%;
    height: auto;
}

.media-component__image-content-container span {
    text-shadow: 1px 1px 20px black;
}

.media-component__copy ul {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #7e8087;
    padding-left: 1.2em;
    margin: 30px 0;
}

.media-component__copy li {
    margin: 1em 0;
}

@media screen and (min-width: 768px) {
    .media-component__row {
        display: flex;
    }
    
    .media-component__image,
    .media-component__content {
        flex: 1 1 50%;
    }

    .media-component__content {
        padding: 100px;
    }

    .media-component__image {
        min-height: 400px;
    }

    .media-component__image-content-container {
        max-width: 250px;
        margin: auto;
    }

    .media-component__popout-list {
        position: absolute;
        top: 100px;
        width: 300px;
        right: calc(100% - 40px);
    }

    .media-component__row:nth-child(even) .media-component__content {
        order: 1;
    }

    .media-component__row:nth-child(even) .media-component__image {
        order: 2;
    }

    .media-component__row:nth-child(even) .media-component__popout-list{
        right: auto;
        left: calc(100% - 40px);
    }

    .media-component__links  {
        margin-bottom: 0;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.icon.icon--github {
    background-image: url(/img/svg/icon-github.svg);
    transform: translateY(-2px);
}

.offices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offices__office {
    margin: 20px 40px;
}


/* Super specific selectors to override Bootstrap nonsense */
.nav > li > .nav__link:focus, 
.nav > li > .nav__link.current:hover,
.nav > li > .nav__link.current:focus,
.nav > li > .nav__link:hover {
    background-color: #F1F5FF;
    color: #3F56EA;
}

.navbar.white .navbar-nav > li > .nav__link.current {
    color: #3F56EA;
}

.nav__link {
    border-radius: 5px;
    position: relative;
}

.nav__link.nav__link--sublinks {
    padding-right: 50px;
}



.nav__sublinks {
    background: white;
    list-style: none;
    border-radius: 5px;
    position: relative;
    padding: 0;
}



.nav__sublinks a {
    color: #888A90;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.nav__sublinks a:hover,
.nav__sublinks a:focus {
    background-color: #F1F5FF;
    color: #3F56EA;
    text-decoration: none;
}

.nav__sublink.nav__sublink--active {
    color: #3F56EA;
}

@media screen and (min-width: 768px) {
    .nav__sublinks {
        display: none;    
        padding: 10px;    
    }

    .nav__sublinks li {
        margin: 10px 0;
    }

    .navbar-nav>li:hover .nav__sublinks {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 250px;
    }

    .nav__link.nav__link--sublinks:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #6E6F7C transparent transparent transparent;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-2px);
    }
    
    .nav__link.nav__link--sublinks:hover:after {
        border-color: #3F56EA transparent transparent transparent;
    }
}