.row {
    justify-content: space-between;
}

#services .icon {
    width: 6%;
}

#services .icon img {
    width: 100%;
    height: auto;
    margin-left: -2em;
}

#services .service {
    width: 39%;
}

#services .service h2 {
    margin: 0 0 1em;
    font-size: 1.6em;
}

#services .service p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
}

#services .detail {
    width: 45%;
}

#services .detail p a.btn {
    margin-top: 2em;
    width: 213px;
    height: 58px;
    font-size: 18px;
    padding: 0;
    line-height: 55px;
}

@media (max-width: 769px) {
    #services .row {
        width: 90%;
        margin: 0 auto;
    }

    #services .service {
        width: 100%;
        margin-bottom: 1em;
    }

    #services .icon {
        width: 100%;
    }

    #services .icon img {
        max-width: 100px;
        height: auto;
        margin: 0 0 1em;
    }

    #services .detail {
        width: 100%;
        margin: 0 auto;
    }
}
