// The ASCII diagrams aren't nicely formatted by the default .highlight
// class. For ASCII diagrams we want no border and a miniman line height so
// that the characters "fit". To use this hack:
//
//    ```diagram
//    +-----------------------+
//    |                       |
//    |  This is a lovely     |
//    |  diagram drawn using  |
//    |  the excellent        |
//    |                       |
//    |  https://textik.com   |
//    |                       |
//    +-----------------------+
//    ```

.highlight .language-diagram {
  font-size: 0.9em;
  line-height: 1rem;
  font-family: monospace;

  // Using display: block; was the only way I found to force the
  // line-height to be 1. See: https://stackoverflow.com/questions/12851792
  display: block;
}
