$primary: #000000;
$primary-light: #444444;
$secondary: #326ce5;

.navbar-brand {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.td-navbar .navbar-brand svg {
	height: 70px !important;
	width: 70px;
}

.td-toc {
	padding-top: 1.75rem !important;
}

@media (min-width: 768px) {
	.td-sidebar {
		padding-top: 4.5rem !important;
	}

	.td-main main {
		padding-top: 7.5rem !important;
	}
}
