{{ define "title" }} | {{ .Title }}{{ end }}
{{ define "head" }}
    <link href="/css/engineering.css" rel="stylesheet"/>
{{ end }}
{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">

    <div class="container back">
        <a href="/engineering/">&lt; Back to Engineering</a>
    </div>

    <section class="tight" id="masthead">
        <div class="background">
            <img src="{{ .Params.background }}">
        </div>
        <div class="logo">
            <h1 class="text-light">{{ .Title }}</h1>
            <p class="text-light">{{ .Params.description }}</p>
        </div>
    </section>

    <section class="white" id="description">
        <div class="text">
            {{ .Content }}
        </div>
    </section>

</div>

{{ end }}