{{ define "title" }} | Insights{{ end }}
{{ define "head" }}
    <link href="/css/insights.css" rel="stylesheet"/>
{{ end }}
{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}
{{ define "body" }}
<div class="container-fluid" id="page-content">
  <div class="col-sm-12">

    <header class="title"><h1>{{ .Title }}</h1></header>

    <div class="articles">
      <div class="row">
        {{ range (.Paginate .Data.Pages).Pages }}
        <div class="col-sm-4">
          {{ .Render "li" }}
        </div>
        {{ end }}
      </div>
    </div>

  </div>

</div>
{{ end }}