{{ define "title" }} | {{ .Title }}{{ end }}
{{ define "head" }}
    <link href="/css/insights.css" rel="stylesheet"/>
{{ end }}
{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}
{{ define "body" }}

{{ $section := replace .URL "/" "" }}
{{ $headlines := .Site.Data.config.headline }}
{{ $headline := index $headlines $section }}

<div class="container-fluid" id="page-content">

    {{ partial "panels/headline.html" $headline }}

    <div id="listing">
        <section class="white bordered tight" id="insights">
            <div class="container">

                {{ partial "menus/insights.html" . }}

                <div class="posts">
                    {{ if eq $section "insights" }}
                        {{ partial "widgets/contentgrid.html" (dict "root" . "filter" "all") }}
                    {{ else }}
                        {{ partial "widgets/contentgrid.html" (dict "root" . "filter" $section) }}
                    {{ end }}
                </div>

            </div>
        </section>
    </div>
</div>

{{ end }}