{{ define "title" }} | {{ .Title }}{{ end }}

{{ define "navbar" }} {{ partial "navbar/dark.html" . }} {{ end }}

{{ define "body" }}

<div class="container-fluid" id="page-content">
  <section
    class="header-with-img-bg"
    style="background-image: url({{ .Params.image }})"
  >
    <a href="../" class="header-with-img-bg__link">
      <p
        class="header-with-img-bg__section  header-with-img-bg__section--white"
      >
        Training
      </p>
    </a>
    <h1 class="header-with-img-bg__title">{{ .Title }}</h1>
  </section>

  <section>
    <article class="container course-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="course-content__copy">{{ .Content }}</div>
          <div class="course-content__cta">
            <a href="/contact" class="button-link button-link--black"
              >Find out more</a
            >
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          {{ if .Params.contentImage }}
          <img
            src="{{ .Params.contentImage }}"
            alt=""
            class="course-content__img"
          />
          {{ end }}
        </div>
      </div>
    </article>
  </section>

  {{ if .Params.testimonial }}
  {{ partial "panels/course-testimonial" .Params.testimonial }} {{ end }}
</div>

{{ end }}

{{ define "cta" }} {{ partial "ctas/training-course"}} {{ end }}


