body {
  font-family: sofia-pro, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #1b1c29;
}

h1 {
  font-size: 49px;
  margin-bottom: 0.5em;
  word-spacing: 8px;
  color: #1b1c29;
}

h2 {
  font-size: 28px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h4.black ul {
  padding: 25px;
}

p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #7e8087;
}

ul {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #7e8087;
}

a {
  color: #1768e2;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

#strapline {
  text-align: center;
}

section#strapline {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

#strapline p {
  font-size: 24px;
  color: #b0b0b0;
}

#strapline h1 {
  font-weight: 700;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 769px) {
  #strapline h1 {
    width: 90%;
    margin: 0 auto 0.25em;
  }

  #strapline p {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

.text-light {
  color: white;
}

.text-dark {
  color: #0f0f0f;
}

.text-light-alt {
  color: #888a90;
}

.text-light-blue {
  color: #1768e2;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  color: white;
  background: #1768e2;
  padding: 15px 32px;
  width: 180px;
  height: 55px;
  font-size: 1.25em;
  text-align: center;
  line-height: 2em;
  border-radius: 6px;
  border: 2px solid white;
  display: inline-block;
  margin: 4px 2px;
}

/**.btn-primary:hover, .btn-primary:active {
    background: white;
    border: 1px solid #1768E2;
    color: #1768E2;
}**/

.block {
  padding: 0;
}

div.image-zoom-container {
  overflow: hidden;
  width: 100%;
  height: auto;
}

div.image-zoom-container a img {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

div.image-zoom-container a img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#footer {
  background: #1b1c29;
}

#footer .pre-footer {
  background: #f2f7fc;
  text-align: center;
}

#footer .pre-footer h3 {
  font-size: 28px;
  font-weight: 700;
}

#footer .pre-footer .footer-form {
  padding: 1.5em 0 0;
}

#footer .pre-footer .footer-form input {
  padding: 15px;
  width: 405px;
}

#footer .pre-footer .footer-form .btn {
  font-size: 18px;
  height: 58px;
  width: 180px;
  line-height: 1.3em;
  margin-top: -5px;
  margin-left: 0.5em;
  background: #1768e2;
  border: 2px solid white;
}

#footer .main-footer {
  text-align: left;
  padding: 4em 0;
  background: #1b1c29;
}

#footer .main-footer.main-footer--light {
  background: white;
}

#footer .main-footer .item.logo img {
  width: 150px;
  text-align: left;
}

#footer .main-footer .item.social {
  text-align: right;
}

#footer .main-footer .item.social a {
  text-decoration: none;
}

#footer .main-footer .item.social a img {
  width: 35px;
  margin: 0 0.5em;
}
#footer .main-footer .item.social a img,
#footer .main-footer .item.social a svg {
  width: 35px;
  margin: 0 0.5em;
}

#footer .main-footer .item.social a svg path,
#footer .main-footer .item.social a svg rect {
  fill: white;
}
#footer .main-footer.main-footer--light .item.social a svg path,
#footer .main-footer.main-footer--light .item.social a svg rect {
  fill: #1b1c29;
}

#footer .main-footer .item.social a:hover {
  text-decoration: none;
}

#footer .main-footer .item.social a:hover img {
  opacity: 0.5;
}

#footer .main-footer .row.footer-menu {
  width: 60%;
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 18px;
}

#footer .main-footer .row.footer-menu .item {
  flex: auto;
}

#footer .main-footer .row.footer-menu a {
  color: #919195;
}

@media (max-width: 992px) {
  #footer .main-footer .row.footer-menu {
    width: 75%;
    font-size: 16px;
  }
}

#footer .main-footer .copyright {
  margin-top: 0.5em;
}

#footer .main-footer .copyright p {
  color: #919195;
  font-size: 14px;
}

#footer .main-footer .privacy-policy p {
  color: #1768e2;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  #footer .main-footer .privacy-policy p {
    text-align: left;
  }
}

@media (max-width: 769px) {
  #footer .main-footer .item.logo,
  #footer .main-footer .item.social {
    float: none;
    text-align: center;
    margin-bottom: 2em;
  }

  #footer .main-footer .item.social {
    margin-bottom: 1em;
  }

  #footer .main-footer .row.footer-menu {
    margin: 0 auto;
    text-align: center;
  }

  #footer .main-footer .row.footer-menu .item {
    margin-bottom: 0.5em;
  }

  #footer .main-footer .copyright p {
    text-align: center;
  }
}

.row {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}
/* Had to add 👇 because 👆 breaks the Bootstrap columns and it's used throughout the site! 🤦‍ */
.row.row--no-flex {
  display: block;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row .item {
  flex: 1;
}

@media (max-width: 769px) {
  .row {
    display: block;
  }

  .item {
    float: none;
    margin: 0 auto;
  }
}

section {
  padding: 6em 0;
  position: relative;
}

section.tight {
  padding-top: 0;
  padding-bottom: 0;
}

section.thin {
  padding: 3em;
}

section.center {
  text-align: center;
}

section.white {
  background: white;
}

section.blue {
  background: #1b1c29;
}

section.darkblue {
  background: #080d15;
}

section.grey {
  background: #f2f2f2;
}

section.bordered {
  border: 1px solid #f2f2f2;
}

.lightblue {
  background: #f2f7fc;
}


.calltoactionbutton {
  margin-top: 2em;
  width: 213px;
  height: 58px;
  font-size: 18px;
  padding: 0;
  line-height: 55px;
}

.black {
  color: black;
}

/* Diagonal media component used on the Training page */
.diagonal__content {
  text-align: center;
  background-color: #f2f7fc;
  padding: 40px 20px;
  color: #5f5f5f;
}

.diagonal__image {
  width: 100%;
  height: auto;
  display: block;
}

.diagonal__image-container {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
}

.diagonal__svg {
  display: none;
}

.diagonal__heading {
  font-size: 16px;
  font-weight: 500;
  color: #1b1c29;
}

.diagonal__copy {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 30px;
}

.diagonal.diagonal--opposite .diagonal__content {
  background-color: #1b1c29;
  color: #b0b0b0;
}

.diagonal.diagonal--opposite .diagonal__heading {
  color: white;
}

@media screen and (min-width: 768px) {
  .diagonal {
    display: flex;
    min-height: 440px;
    align-items: stretch;
  }

  .diagonal__content {
    order: 1;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .diagonal__image-container {
    order: 2;
    flex: 1;
  }

  .diagonal__svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: auto;
  }
  .diagonal__svg polygon {
    fill: #f2f7fc;
  }

  .diagonal__copy {
    max-width: 500px;
  }

  .diagonal.diagonal--opposite .diagonal__content {
    order: 2;
  }

  .diagonal.diagonal--opposite .diagonal__image-container {
    order: 1;
  }

  .diagonal.diagonal--opposite .diagonal__svg {
    left: auto;
    right: 0;
  }

  .diagonal.diagonal--opposite .diagonal__svg polygon {
    fill: #1b1c29;
  }
}

/* New style testimonial  */
.testimonial {
  border-left: 0;
  padding-left: 0;
}

.testimonial__copy {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: #3f56ea;
}

.testimonial__cite {
  font-weight: 500;
}

/* Feature list box  */

.featurelist__container {
  background-color: #3f56ea;
  color: white;
  padding: 20px 40px;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 40px;
}

.featurelist {
  position: relative;
}

.featurelist__list {
  padding-left: 20px;
  margin: 0;
  color: white;
}

.featurelist__list li {
  margin: 40px 0;
}

@media screen and (min-width: 768px) {
  .featurelist__container {
    width: 85%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 140px;
    position: relative;
  }

  .featurelist::before {
    content: '';
    background: #f2f7fc;
    width: 75%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: -20%;
    right: -20%;
  }
}

.image-with-tile__img {
  width: 100%;
  display: block;
  height: auto;
  margin-bottom: 70px;
}

.image-with-tile.image-with-tile--horizontal .image-with-tile__img {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .image-with-tile {
    margin-top: 150px;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .image-with-tile::before {
    content: '';
    background: #f2f7fc;
    width: 55%;
    height: 60%;
    position: absolute;
    z-index: -1;
    top: -20%;
    left: -20%;
  }

  .image-with-tile.image-with-tile--horizontal {
    margin-top: 0;
  }

  .image-with-tile.image-with-tile--horizontal::before {
    right: -20%;
    left: auto;
    top: 20%;
  }
}

/* Media tile (image / copy) (used on Consulting template) */
.media-component__content {
  padding: 20px;
  position: relative;
}

.media-component__contentImage {
  width: 100%;
  align: right;
  border-radius: 6px;
}

.media-component__popout-list {
  color: white;
  background-color: #3f56ea;
  padding: 20px;
  list-style: none;
  margin: 20px 0;
}

.media-component__popout-list-item {
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.media-component__popout-list-item:last-child {
  border: 0;
}

.media-component__image {
  min-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-component__links {
  margin: 40px 0;
}

.media-component__links a {
  display: inline-block;
  margin-right: 20px;
}

.media-component__image-content-container {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  padding: 2rem;
}

.media-component__image-content-container img {
  width: 100%;
  height: auto;
}

.media-component__image-content-container span {
  text-shadow: 1px 1px 20px black;
}

.media-component__copy ul {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #7e8087;
  padding-left: 1.2em;
  margin: 30px 0;
}

.media-component__copy li {
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .media-component__row {
    display: flex;
  }

  .media-component__image,
  .media-component__content {
    flex: 1 1 50%;
  }

  .media-component__content {
    padding: 100px;
  }

  .media-component__content-event {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .media-component__image {
    min-height: 400px;
  }

  .media-component__image-content-container {
    margin: auto;
  }

  .media-component__popout-list {
    position: absolute;
    top: 100px;
    width: 300px;
    right: calc(100% - 40px);
  }

  .alternate.media-component__row:nth-child(even) .media-component__content {
    order: 1;
  }

  .alternate.media-component__row:nth-child(even) .media-component__image {
    order: 2;
  }

  .alternate.media-component__row:nth-child(even) .media-component__popout-list {
    right: auto;
    left: calc(100% - 40px);
  }

  .media-component__links {
    margin-bottom: 0;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.icon.icon--github {
  background-image: url(/img/svg/icon-github.svg);
  transform: translateY(-2px);
}

.offices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offices__office {
  margin: 20px 40px;
}

.icon-panel {
  display: block;
}

.icon-panel:hover,
.icon-panel:focus {
  text-decoration: none;
}

.icon-panel__title {
  color: #1b1c29;
}

.icon-panel:hover .icon-panel__title,
.icon-panel:focus .icon-panel__title {
  color: #3f56ea;
}

.icon-panel__icon {
  height: 200px;
  background-color: #f2f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon-panel__icon svg {
  fill: #3f56ea;
}

.icon-panel:hover .icon-panel__icon,
.icon-panel:focus .icon-panel__icon {
  background-color: #3f56ea;
}

.icon-panel:hover .icon-panel__icon svg,
.icon-panel:focus .icon-panel__icon svg {
  fill: white;
}

.icon-panel__copy {
  margin-bottom: 40px;
}

/*
Media Hero
Introduced on new Subscription Page
*/

.media-hero {
  background-color: #1b1c29;
  color: white;
  padding: 100px 0 0 0;
}

.media-hero__graphic svg,
.media-hero__graphic img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.media-hero__copy h1 {
  color: white;
}

.media-hero__copy p {
  font-size: 1.4em;
  line-height: 1.4em;
}

.media-hero__ctas {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}

.media-hero__cta {
  color: white;
  display: flex;
  align-items: center;
}

.media-hero__cta.media-hero__cta--green {
  color: #51d8ba;
}

.media-hero__cta.media-hero__cta--blue {
  color: #45cffd;
}

.media-hero__cta.media-hero__cta--purple {
  color: #8a63fa;
}

.media-hero__cta.media-hero__cta--maroon {
  color: #963384;
}

.media-hero__cta.media-hero__cta--yellow {
  color: #c7b299;
}

.media-hero__cta-text {
  color: white;
}

.media-hero__cta:link .media-hero__cta-text,
.media-hero__cta:visited .media-hero__cta-text {
  color: white;
}
.media-hero__cta:hover .media-hero__cta-text,
.media-hero__cta:active .media-hero__cta-text {
  color: currentColor;
}

.media-hero__cta:hover,
.media-hero__cta:active {
  text-decoration: none;
}

.media-hero__icon {
  display: inline-flex;
  align-items: center;
}

.media-hero__icon svg {
  fill: currentColor;
}

.media-hero__cta-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #7e8087;
}

.media-hero__icon + .media-hero__cta-content {
  margin-left: 30px;
}

.media-hero__cta-content.media-hero__cta-content--no-border {
  border-bottom-color: transparent;
}

.media-hero__main-cta-wrapper {
  text-align: center;
}

/* Add to CTA buttons that aren't embedded
 * within other elements to keep them spaced.
 */
.media-hero__main-cta-wrapper__button {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.media-hero__main-cta {
  display: inline-block;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 27px;
  padding: 16px 24px 16px 24px;
  font-size: 18px;
  margin-top: 0px;
}

.media-hero__main-cta--spaced {
  margin-top: 35px;
}

.media-hero__main-cta:link,
.media-hero__main-cta:visited {
  color: white;
}

.media-hero__main-cta:hover,
.media-hero__main-cta:active {
  color: black;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-decoration: none;
}

.media-hero__cta__freshsales {
  margin-top: 3rem;
}

.media-hero__bottom {
  text-align: center;
}

.media-hero__logos-section {
  margin: 70px 0;
}

.media-hero__logos-section h2 {
  font-size: 18px;
  font-weight: normal;
}

.media-hero__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.media-hero__logos svg {
  fill: #6e6f7c;
  margin: 20px;
  width: 33%;
}

/* The main logo, e.g. the Product logo */
.media-hero__main-logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: -0.5rem;
  vertical-align: baseline;
}

@media (min-width: 991px) {
  .media-hero__content {
    display: flex;
    flex-wrap: wrap;
  }

  .media-hero__copy {
    flex: 1 1 50%;
    order: 1;
    margin-top: 75px;
  }

  .media-hero__graphic {
    flex: 1 1 50%;
    order: 2;
    padding-left: 100px;
    padding-top: 30px;
  }

  .media-hero__graphic--spaced {
    flex: 1 1 50%;
    order: 2;
    padding-left: 50px;
    padding-top: 100px;
  }

  .media-hero__graphic--small {
    padding-left: 15px;
    padding-top: 30px;
  }

  .media-hero__graphic--banner {
    margin-top: 150px;
  }

  .media-hero__graphic svg,
  .media-hero__graphic img {
    width: 100%;
  }

  .media-hero__graphic--small svg,
  .media-hero__graphic--small img {
    width: 60%;
  }

  .media-hero__bottom {
    flex: 1 1 100%;
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .media-hero__logos-section {
    flex: 0 1 60%;
    margin: 0 0 50px;
  }

  .media-hero__logos {
    flex-wrap: nowrap;
  }

  .media-hero__logos svg:first-child {
    margin-left: 0;
  }

  .media-hero__logos svg:last-child {
    margin-right: 0;
  }

  .media-hero__main-cta-wrapper {
    text-align: left;
  }
}

/*
    Image Testimonial
*/

.img_testimonail__video_container {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.img_testimonail__video_container video{
  width: 100%;
  height: auto;
}

.img-testimonial {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.img-testimonial__container {
  background-color: #1b1c29;
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0;
}

.img-testimonial__quote {
  border: 0;
  color: #51d8ba;
  margin: 0;
}

.img-testimonial__quote p {
  color: inherit;
  font-size: 22px;
  line-height: 1.4;
}

.img-testimonial__quote__subscription p {
  font-size: 21px;
}

.img-testimonial__cite {
  color: white;
  font-size: 16px;
  margin-top: 30px;
  display: block;
  font-style: normal;
}

.img-testimonial__video-frame {
    text-align: center;
    border: none;
    height: 300px;
    width: 70%;
    margin: 0 auto;
    display: inherit;
}

.img-testimonial__cite__large_subscription_customer {
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 991px) {
  .img-testimonial__video-frame {
    border: none;
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: inherit;
  }
}

.img-testimonial__quote p.large-subscription-customer {
  font-size: 21px;
  color: #f2f2f2;
}

.img-testimonial__cite__large_subscription_customer {
  font-size: 18px;
  color: #c7c7c7;
}

@media (min-width: 991px) {
  .img-testimonial {
    padding: 120px 0;
  }
  .img-testimonial__quote p {
    font-size: 32px;
  }

  .img-testimonial__cite {
    font-size: 20px;
  }

  .img-testimonial__video-frame {
    text-align: center;
    border: none;
    height: 300px;
    width: 70%;
    margin: 0 auto;
    display: inherit;
  }
}

/*
    Info Icons
*/

.info-icons {
  background-color: #1b1c29;
  color: white;
  text-align: center;
  position: relative;
}

.info-icons.info-icons--green {
  color: #51d8ba;
}
.info-icons.info-icons--blue {
  color: #45cffd;
}
.info-icons.info-icons--purple {
  color: #8a63fa;
}
.info-icons.info-icons--maroon {
  color: #963384;
}

.info-icons.info-icons--hr::after {
  content: '';
  width: 70%;
  height: 1px;
  background-color: #7e8087;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.info-icons__hero {
  margin: 20px 0 50px;
}

.info-icons__hero h2 {
  color: white;
}

.info-icons__hero-icon svg,
.info-icons__feature-icon svg {
  fill: currentColor;
}

.info-icons__features {
  list-style: none;
  padding: 0;
  color: inherit;
}

.info-icons__feature {
  margin: 50px;
}

.info-icons__feature-copy {
  color: white;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.info-icons__feature-copy a {
  color: #ffffff;
  text-decoration: underline;
}

.info-icons__feature-copy a:hover {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .info-icons__features {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .info-icons__feature {
    flex: 0 1 50%;
    margin: 30px 0;
  }

  .info-icons.info-icons--hr::after {
    width: 30%;
  }
}

@media (min-width: 991px) {
  .info-icons__feature {
    flex-basis: 25%;
  }
}

/**
    Open source panel
*/

.open-source {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  text-align: center;
}

.open-source__commitments {
  list-style: none;
  padding: 0;
  color: inherit;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
}

.open-source__commitments::after {
  content: '';
  width: 70%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-source__bottom p {
  color: inherit;
  margin-bottom: 30px;
}

.open-source__kubernetes-icon svg {
  fill: currentColor;
}

.open-source__commitment {
  margin: 50px 0;
  line-height: 1;
}

.open-source__commitment-hero {
  display: block;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}

.open-source__sub {
  font-size: 0.7em;
  display: inline-block;
}

.open-source__detail {
  display: block;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .open-source__commitments {
    display: flex;
    justify-content: space-between;
  }

  .open-source__commitment {
    margin-left: 25px;
    margin-right: 25px;
  }

  .open-source__commitment:first-child {
    margin-left: 0;
  }

  .open-source__commitment:last-child {
    margin-right: 0;
  }

  .open-source__commitments::after {
    width: 50%;
  }
}

@media screen and (min-width: 991px) {
  .open-source__commitment {
    justify-content: space-around;
  }

  .open-source__commitment-hero {
    font-size: 70px;
  }

  .open-source__commitment {
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 30%;
  }
}

/* Header with img background */
.header-with-img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  padding: calc(100px + 6em) 20px 6em 20px;
  text-align: center;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header-with-img-bg__split-content {
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-with-img-bg__left {
    text-align: left;
    margin-right: 40px;
    flex: 1 0 60%;
  }
}

.header-with-img-bg__quote {
  border: 0;
  color: white;
}

.header-with-img-bg__quote p {
  color: white;
}

@media (min-width: 768px) {
  .header-with-img-bg__quote {
    text-align: left;
  }

  .header-with-img-bg__quote p {
    line-height: 1.3;
    margin: 10px 0;
    font-size: 28px;
  }
}

.header-with-img-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header-with-img-bg__video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.header-with-img-bg__copy {
  z-index: 1;
  position: relative;
}

.header-with-img-bg__section {
  color: #51d8ba;
  font-weight: inherit;
}
.header-with-img-bg__section--top-padding {
  padding-top: 15px;
}
.header-with-img-bg__section--white {
  color: white;
}

.header-with-img-bg__title {
  color: inherit;
  font-weight: inherit;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 18px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header-with-img-bg__title.tight {
  margin: 0;
}

.header-with-img-bg__link:link,
.header-with-img-bg__link:visited {
  color: inherit;
}

.header-with-img-bg__link:hover,
.header-with-img-bg__link:active {
  color: white;
}

.csp-logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    width: 180px;
    height: auto;
}

.csp-logo-small {
    margin-bottom: 50px;
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.csp-logo-medium {
    margin-bottom: 50px;
    width: 150px;
    height: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 480px) {
  .header-with-img-bg {
    padding: calc(100px + 6em) 20px calc(100px + 6em) 20px;
  }

  .header-with-img-bg__section {
    font-size: 20px;
  }

  .header-with-img-bg__title {
    font-size: 48px;
  }

  .header-with-img-bg__strapline {
    font-size: 25px;
  }
}

/* Section Title */

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title.section-title--right {
  text-align: right;
}

.section-title.section-title--left {
  text-align: left;
}

/* Cards */

.card {
  color: #45cffd;
  margin-bottom: 50px;
}

.card.card--red {
  color: #ff6382;
}
.card.card--purple {
  color: #8a63fa;
}
.card.card--green {
  color: #51d8ba;
}
.card.card--blue {
  color: #3f56ea;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow transform;
}

.card__link {
  color: inherit;
}

.card__link:link,
.card__link:visited {
  color: inherit;
}

.card__link:hover,
.card__link:active {
  color: currentColor;
}

.card__title {
  color: #1b1c29;
}

.card__subtitle {
  color: inherit;
  margin-bottom: 20px;
}

.card__copy {
  color: #6e6f7c;
}

.card-list {
  margin-bottom: 50px;
}

.card__link:hover .card__img,
.card__link:active .card__img {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.16);
  transform: scale(1.03);
}

@media (min-width: 480px) {
  .card-list {
    display: flex;
    justify-content: center;
  }

  .card {
    margin: 20px;
    flex: 0 1 330px;
    max-width: 330px;
  }
}

/* Call to Action */

.cta {
  background-color: #3f56ea;
  color: white;
}

.cta__heading {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.cta__form,
.cta__email,
.cta__submit {
  display: block;
}

.cta__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background-color: white;
  color: #2a4afc;
  font-size: 16px;
  padding: 9px 20px 10px;
  border: 0;
}

.cta__email {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}

.cta__email::placeholder {
  color: white;
}

.cta__email::-webkit-input-placeholder {
  color: white;
}

.cta__email::-ms-input-placeholder {
  color: white;
}

.cta__copy {
  margin-bottom: 40px;
}

.cta__copy h5 {
  color: inherit;
  font-size: 32px;
}

.cta__copy p {
  color: inherit;
  font-size: 21px;
}

.cta__link:link,
.cta__link:visited {
  color: inherit;
}

.cta__main.cta__main--centered {
  text-align: center;
}
.cta__main.cta__main--centered .cta__copy {
  padding-right: 0;
  margin: 0 auto;
  max-width: 700px;
}

@media (min-width: 768px) {
  .cta__main {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cta__main.cta__main--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .cta__copy,
  .cta__form {
    flex: 1 1 45%;
  }

  .cta__copy {
    margin-bottom: 0px;
    margin-right: 20px;
    padding-right: 150px;
  }

  .cta__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cta__email {
    flex: 1 0 60%;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

/* Course Content */

.course-content__img {
  display: block;
  width: 100%;
}

.course-content__copy h2 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.course-content__copy h2:first-child {
  margin-top: 0;
}

.course-content__copy p,
.course-content__copy ul {
  font-size: 18px;
}

.course-content__cta {
  margin: 50px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .course-content__cta {
    text-align: left;
  }
}

/* Button Link */

.button-link {
  color: white;
  background: #1768e2;
  padding: 10px 50px;
  font-size: 1.25em;
  text-align: center;
  line-height: 2em;
  border-radius: 6px;
  border: 2px solid white;
  display: inline-block;
  margin: 4px 2px;
}

.button-link:hover,
.button-link:active {
  color: white;
  text-decoration: none;
  background: #1768e2;
}

.button-link--black {
  background-color: #1b1c29;
}

/* Course Testimonial */

.course-testimonial {
  border: 0;
  padding: 0;
  margin-bottom: 6em;
}

.course-testimonial__quote {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #000236;
}

.course-testimonial__quote::before,
.course-testimonial__quote::after {
  content: '"';
}

.course-testimonial__cite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #8492a6;
  font-style: normal;
  font-size: 17px;
  font-weight: normal;
}

.course-testimonial__profile {
  border-radius: 25px;
  overflow: hidden;
  display: block;
  margin-right: 20px;
  flex: 0 0 50px;
}

.course-testimonial__quoter {
  color: #8492a6;
}

@media (min-width: 768px) {
  .course-testimonial__quote {
    text-align: left;
    font-size: 34px;
  }

  .course-testimonial__cite {
    margin-top: 40px;
  }
}

/* Simple Headline  */

.headline-simple {
  text-align: center;
  padding: 2rem 2rem;
}

.headline-simple:first-child {
  padding: 12rem 2rem;
}

.headline-simple__title {
  font-size: 2em;
}

.headline-simple__strapline {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

@media (min-width: 768px) {
  .headline-simple__title {
    font-size: 45px;
  }
}

/* Team Photo */

.team-photo {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* About Page Bio */

.bio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio {
  flex: 0 0 calc(50% - 20px);
  width: calc(50% - 20px);
  text-align: center;
  margin: 20px;
  word-break: break-word;
  position: relative;
  display: block;
}

.bio:nth-child(even) {
  margin-right: 0px;
}
.bio:nth-child(odd) {
  margin-left: 0px;
}

.bio__img {
  display: block;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
  background: #000236 no-repeat 50% 50%;
  background-size: cover;
  margin: 0 auto;
}

.bio__name {
  font-size: 18px;
  color: #1b1c29;
  margin-bottom: 0;
}

.bio__title {
  font-size: 14px;
  color: #888a90;
  line-height: 1.2;
  margin-bottom: 0;
}

.bio__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.bio__social-icon {
  width: 24px;
  display: block;
}

.bio__from img {
  width: 2rem;
}

.bio__from img.outline {
  border: 1px solid LightGrey;
  background-color: LightGrey;
}

.bio__social-icon svg path,
.bio__social-icon svg rect {
  fill: #3f56ea;
}

@media (min-width: 768px) {
  .bio-list {
    justify-content: flex-start;
  }
  /* 4 in a row */
  .bio {
    flex: 1 0 calc(25% - 40px);
    width: calc(25% - 40px);
  }

  .bio:nth-child(even) {
    margin: 20px;
  }
  .bio:nth-child(odd) {
    margin: 20px;
  }
}

@media (min-width: 992px) {
  /* 5 in a row */
  .bio {
    flex: 0 0 calc(20% - 40px);
    width: calc(20% - 40px);
    padding-bottom: 100px;
  }

  .bio:hover .bio__social,
  .bio:focus .bio__social,
  .bio:focus-within .bio__social {
    max-height: 50px;
    opacity: 1;
  }
  .bio:hover .bio__content,
  .bio:focus .bio__content,
  .bio:focus-within .bio__content {
    box-shadow: 0 11px 46px rgba(0, 0, 0, 0.09);
  }
  .bio:hover .bio__content::before,
  .bio:focus .bio__content::before,
  .bio:focus-within .bio__content::before {
    opacity: 1;
    top: -12px;
  }

  .bio:nth-child(4n) {
    margin: 20px;
  }
  .bio:nth-child(1),
  .bio:nth-child(5n) {
    margin: 20px;
  }

  .bio__name {
    margin-top: 0;
  }

  .bio__social {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 300ms, 300ms opacity 50ms;
    margin-bottom: 0;
  }

  .bio__content {
    padding: 10px;
    position: absolute;
    transition: box-shadow 300ms;
    width: 100%;
    left: 0;
    z-index: 10;
  }

  .bio__content::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 50%;
    top: 0px;
    display: block;
    content: '';
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0;
    transition: opacity 300ms, top 300ms;
  }
}

@media (min-width: 1200px) {
  /* 6 in a row */
  .bio {
    flex: 0 0 calc(16.666% - 40px);
    width: calc(16.666% - 40px);
  }
}

/* Designer Section  */

.designer-section {
  color: white;
  overflow: hidden;
}

.designer-section__content {
  color: white;
}

.designer-section__content p {
  color: inherit;
  margin-bottom: 30px;
}

.designer-section .container {
  position: relative;
}

.designer-section__bg {
  background-color: #51d8ba;
  position: absolute;
  top: -6em;
  right: -50vw;
  height: calc(100% + 12em);
  width: 200vw;
}

@media (min-width: 1200px) {
  .designer-section__bg {
    right: 0;
  }
}

/* Perks */

.perks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.perk {
  flex: 0 1 calc(50% - 21px);
  background-color: #f7f7f7;
  margin: 10px;
  padding: 40px 10px 20px;
  color: #6e6f7c;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 160px;
  transition: transform 300ms ease-in-out;
}

.perk__title {
  color: inherit;
  font-size: 15px;
  line-height: 1.3;
}

.perk__icon {
  height: 32px;
  margin: 0 auto;
  transition: transform 300ms ease-in-out;
}

.perk__icon svg {
  height: 100%;
  width: auto;
  margin: auto;
}

@media (min-width: 768px) {
  .perk {
    flex: 0 1 calc(33.333% - 20px);
    padding: 40px 15px 20px;
  }
}

/* Current Openings */

.current-openings {
  color: white;
  overflow: hidden;
}

.current-openings__bg {
  background-color: #8a63fa;
  position: absolute;
  top: -6em;
  left: -50vw;
  height: calc(100% + 12em);
  width: 200vw;
  z-index: -1;
}

@media (min-width: 1200px) {
  .current-openings__bg {
    left: 0;
  }

  .current-openings__block {
    padding-left: 7rem;
  }
}

/* Blog card */

.blog-card {
  background-color: #f7f7f7;
  padding: 40px;
  margin-top: 80px;
  text-align: center;
}

.blog-cards__img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background: no-repeat 50% 50%;
  background-size: cover;
  margin: -90px auto 20px;
}

.blog-card__link:link,
.blog-card__link:visited {
  color: inherit;
}

.blog-card__link:hover,
.blog-card__link:active {
  color: inherit;
}

.blog-cards__title {
  font-size: 19px;
  line-height: 1.2;
}

.blog-card__author,
.blog-card__category {
  line-height: 1.2;
}

.blog-card__author {
  font-size: 15px;
  margin: 20px 0 10px;
}

.blog-card__category {
  font-size: 12px;
  margin: 0;
}

@media (min-width: 768px) {
  .blog-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .blog-card {
    flex: 0 0 calc(33.333% - 20px);
    margin-top: 50px;
  }
}

/* Career Page Social Links */
.social-links {
  text-align: center;
}

.social-link {
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 20px;
}

.social-link.social-link--pink svg * {
  fill: #ff6382;
}
.social-link.social-link--purple svg * {
  fill: #8a63fa;
}
.social-link.social-link--blue svg * {
  fill: #45cffd;
}

.social-link svg {
  width: auto;
  height: 100%;
  display: block;
}

.instagrams {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagrams a {
  max-width: 400px;
  display: inline-block;
}

.instagrams__img {
  width: 100%;
  height: auto;
}

.course-dates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.course-date {
  flex: 0 0 100%;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.course-date__time {
  font-size: 23px;
  font-weight: 500;
  color: #1b1c29;
  margin: 0 0 5px 0;
  display: block;
}

.course-date__title {
  margin: 5px 0;
  font-size: 18px;
  color: #6e6f7c;
  font-weight: normal;
  line-height: 1.3;
}

.course-date__title strong {
  color: #6326DA;
  font-weight: normal;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .course-dates {
    margin-left: -30px;
    margin-right: -30px;
  }

  .course-date {
    flex: 0 0 calc(33.3333% - 60px);
    margin: 20px 30px;
  }
}

@media (min-width: 768px) {
  .pink-stripes-section {
    background-image: url('/img/svg/jetstack_stripes.svg');
    background-position: calc(100% - 50px) 200px;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.eventbrite-form {
  background-color: white;
  box-shadow: 0 3px 66px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin: 50px 0;
}

@media (min-width: 768px) {
  .eventbrite-form {
    padding: 50px;
    margin: 0;
  }
}

.eventbrite-form__title {
  text-align: center;
  margin: 10px 0 30px;
}

.eventbrite-form__select {
  display: block;
  width: 100%;
}

.eventbrite-widget-container {
  min-height: 200px;
  background: url(/img/gif/jetstack-loading.gif) no-repeat 50% 50%;
}

.participant-levels {
  color: #ffffff
}

.white-tiles {
  margin: 0 -20px;
}

.white-tile {
  background-color: white;
  padding: 50px 40px;
  margin: 20px;
  box-shadow: 0 3px 33px 0px rgba(0, 0, 0, 0.16);
  flex: 0 0 calc(50% - 40px);
}

/* looks better with the shadows */
.white-tile--cert {
  /* box-shadow: none;
  border: 1px solid #E4E5E7; */

  padding: 20px 40px;
}

.white-tile--cert p {
  font-weight: 300;
}

.white-tile__title {
  margin: 0 0 30px;
}

.white-tile__content {
  margin-bottom: 30px;
}

.white-tile__link {
  position: relative;
  align-self: flex-start;
}

.white-tile__link:after {
  content: '';
  display: inline-block;
  background: url(/img/svg/right-arrow.svg) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 10px);
  width: 22px;
}

@media (min-width: 768px) {
  .white-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;;
  }

  .white-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .white-tile__content {
    min-height: 160px;
    flex: 1 1 100%;
  }

  .white-tile__content--cert {
    min-height: 1px;
  }
}

.stripes-and-square-section {
  background-image: url(/img/svg/jetstack-stripes-and-bg.svg);
  background-repeat: no-repeat;
  background-position: -60px calc(100% + 170px);
  background-size: cover;
}


.speaker-bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.speaker-bio__img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.speaker-bio__content {
  text-align: center;
}

@media (min-width: 768px) {
  .speaker-bios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .speaker-bio {
    flex: 0 0 calc(50% - 40px);
  }

  .speaker-bio:nth-child(odd) {
    margin-left: 0;
  }

  .speaker-bio:nth-child(even) {
    margin-right: 0;
  }

}

@media (min-width: 1200px) {
  .speaker-bio {
    flex-basis: calc(25% - 80px);
  }

  .speaker-bio:nth-child(odd) {
    margin-left: 40px;
  }

  .speaker-bio:nth-child(even) {
    margin-right: 40px;
  }

  .speaker-bio:first-child {
    margin-left: 0;
  }

  .speaker-bio:last-child {
    margin-right: 0;
  }

  .speaker-bio__name {
    font-size: 26px;
  }
}

.stats__number {
  font-size: 50px;
  display: block;
}

.stats__number.stats__number--green {
  color: #51D8BA;
}

.stats__number.stats__number--pink {
  color: #FF6382;
}

.stats__copy {
  font-size: 24px;
  color: #6E6F7C;
  display: block;
  margin-bottom: 20px;
}

.stats__left {
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}

.stats__right {
  border: 0;
  padding: 0;
  margin: 0 0 50px;
  text-align: center;
}

.stats__quote {
  font-size: 24px;
  color: #6326DA;
  line-height: 1.3;
}

.stats__cite {
  font-style: normal;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.event-banner {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}
.eventbrite-event-widget {
  width: 100%;
}

@media (min-width: 768px) {
  .stats {
    display: flex;
    margin-bottom: 6em;
  }

  .stats__left {
    flex: 1 0 36%;
    text-align: left;
    border-right: 1px solid #D8D8D8;
    padding-right: 60px;
  }

  .stats__right {
    text-align: left;
    padding-left: 100px;
  }

  .stats__quote {
    font-size: 28px;
  }
}

#blog h1 {
    font-size: 49px;
    margin-bottom: 1em;
}

#blog .blog-entry {
    width: 635px;
    margin: 0 auto;
    text-align: left;
}

#blog .blog-entry .meta span.social {
    display: inline-block;
    float: right;
}

#blog .blog-entry .meta {
    font-size: 1em;
    margin-bottom: 1em;
}

#blog .blog-entry .meta span.social a {
    padding: 0 2px;
}

#blog .blog-entry .meta span.social img {
    height: 28px;
    width: 28px;
}

#blog .blog-entry .flag {
  width: 2rem;
}
#blog .blog-entry .flag.outline {
  border: 1px solid LightGrey;
  background-color: LightGrey;
}

#blog .blog-entry .image {
    margin-bottom: 1em;
}

#blog .blog-entry .image img {
    width: 100%;
    height: auto;
}

#blog .blog-entry .content p {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
}

@media (max-width: 769px) {
    #blog h1 {
        font-size: 2em;
    }

    #blog .blog-entry {
        width: 90%;
    }

    #blog .blog-entry .meta {
        text-align: center;
    }

    #blog .blog-entry .meta span.social {
        display: block;
        float: none;
        text-align: center;
        margin-top: 1em;
    }

    #footer .pre-footer {
        display: none;
    }
}

/* Contact forms */
#contactform.sweden-form {
  padding-top: 0;
}

td, th {
  padding: 0.5rem;
}

dt {
  margin-top: 1.5rem;
}

#freshteam-widget {
    padding-bottom: 4em;
}

#freshteam-widget .page-title {
    padding: 2em 0 25px 0 !important;
}

#freshteam-widget .btn-primary {
  height: 46px;
}

#freshteam-widget .application-form .btn-primary.btn-lg {
  padding: 6px 12px !important;
}

#freshteam-widget .job-details-header {
  background-color: white !important;
  border-bottom: 1px solid #33333333;
}

#freshteam-widget .job-details .link-back {
  color: #333 !important;
}

#freshteam-widget .job-details .link-back .icon-arrow-left {
  fill: #333 !important;
}

#freshteam-widget .job-details-header h1 {
  color: #7b40a0 !important;
}

#freshteam-widget .job-details-header .text-color {
  color: #333 !important;
}

#freshteam-widget .job-details-content a {
  color: #1768e2;
}

#freshteam-widget .job-details-content a:hover,
#freshteam-widget .job-details-content a:focus {
  color: #23527c;
}

