{{ $config := .Site.Data.config }}
{{ $url := .URL }}

<section class="blue tight main-footer">
    <div class="container">
        <div class="row">
            <div class="item logo">
                <a href="/"><img src="/img/png/newlogowhite.png"/></a>
            </div>
            <div class="item social" style="color:white;">
                {{ partial "menus/social.html" (dict "links" $config.menus.social) }}
            </div>
        </div>
        <div class="row footer-menu" style="color:white;">
            {{ partial "menus/div.html" (dict "links" $config.menus.navbar_footer "active" $url) }}
        </div>
        <div class="copyright">
            <p>{{ $config.copyright }}</p>
        </div>
        <div class="privacy-policy">
            <p><a href="{{ $config.privacy_policy_link }}">Privacy Policy</a></p>
        </div>
    </div>
</section>