{{ $cover := .HasShortcode "blocks/cover" }}
{{ $master := .Site.Params.masterfolder}}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
  <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
    <span class="navbar-logo">{{ with resources.Get "/icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }} {{ end }}</span>
    <span class="brand-name font-weight-bold">{{ .Site.Title }}</span>
  </a>
  <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
    <ul class="navbar-nav mt-2 mt-lg-0">
      {{/* Display doc version selector menu for "docs" or "v#.#-docs" sections */}}
      {{ if or (in .Page.Section "docs") (in .Page.Section $master) }}
      <li class="nav-item dropdown d-none d-lg-block">
        {{ partial "navbar-version-selector.html" . }}
      </li>
      {{ end }}
      {{ $p := . }}
      {{ range .Site.Menus.main }}
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
        {{ with .Page }}
        {{ $active = or $active ( $.IsDescendant .) }}
        {{ end }}
        {{/* Skip adding "Documentation" when version selector is added */}}
        {{ $.Scratch.Set "showdoclink" "true"}}
        {{ if and (in $p.Section "docs") (eq .Name "Documentation") }}
        	{{ $.Scratch.Set "showdoclink" "false"}}
        {{ end }}
        {{ if and (eq $p.Section $master) (eq .Name "Documentation") }}
        	{{ $.Scratch.Set "showdoclink" "false"}}
        {{ end }}
        {{ if eq (printf "%s" ($.Scratch.Get "showdoclink")) "true" }}
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
        {{ end }}
      {{ end }}
      {{ if  (gt (len .Site.Home.Translations) 1) }}
      <li class="nav-item dropdown d-none d-lg-block">
        {{ partial "navbar-lang-selector.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="navbar-nav d-none d-xl-block">{{ partial "search-input.html" . }}</div>
</nav>
