{{/* Prefix labels for menus */}}
{{ $.Scratch.Set "docLabel" "Documentation " }}
{{ $.Scratch.Set "releaseLabel" "Release: " }}
{{ $masterMainLabel := "Pre-release" }}
{{ $masterDropLabel := .Site.Params.masterfolder }}

{{/* set defaults for version and dropdown menu highlighting */}}
{{ $.Scratch.Set "activeVersion" .Site.Params.version }}
{{ $.Scratch.Set "docsVer" .Site.Params.version }}

{{/* retrieve current page */}}
{{ $curPage := .Page.Section }}

{{/* generate menu from config/params.toml */}}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-proofer-ignore>
{{ range .Site.Params.versions }}
  {{ if eq $curPage .dirpath }}

    {{ if eq $curPage $masterDropLabel }}
      {{/* pre-release content (master branch) */}}
      {{ $.Scratch.Set "docLabel" $masterMainLabel }}
      {{ $.Scratch.Set "releaseLabel" $masterMainLabel }}
    {{ else }}
      {{/* released version */}}
      {{ $.Scratch.Add "docLabel" " " }}
      {{ $.Scratch.Add "docLabel" .version }}
      {{ $.Scratch.Set "docsVer" .version }}
      {{ $.Scratch.Add "releaseLabel" " " }}
      {{ $.Scratch.Add "releaseLabel" .version }}
    {{ end }}

    {{ $.Scratch.Set "activeVersion" .version }}
  {{ end }}
{{ end }}
  {{/* set current version label */}}
  <span class="d-none d-lg-inline d-xl-inline active">{{ printf "%s" ($.Scratch.Get "docLabel") }}</span>
  <span class="d-sm-inline d-md-inline d-lg-none d-xl-none">{{ printf "%s" ($.Scratch.Get "releaseLabel") }}</span>
</a>
{{/* generate dropdown menu */}}
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  {{ range .Site.Params.versions }}
  <a
  class="dropdown-item{{ if eq ( $.Scratch.Get "activeVersion" ) ( printf "%s" .version ) }} active{{ end }}"
  style="{{ if eq .version $masterDropLabel }}color:#BCBCBC{{ end }}" href="{{ .url }}">{{ .version }}</a>
  {{ end }}
</div>
