{{ $.Scratch.Add "logocolor" "white" }}
{{ partial "video_head.html" . }}

<div class="container-fluid" id="lead-image">
    <div class="video"></div>
    <div class="overlay"></div>

    <div class="container">
        <div class="masthead text-light">
            <h1>{{.Site.Data.text.headline}}</h1>
            <p class="text-light">{{.Site.Data.text.strapline}}</p>
        </div>
    </div>


    <div class="down-arrow">
        <img src="/img/png/arrow-down.png"/>
    </div>
</div>


<div class="container-fluid" id="home-content">

{{ partial "video_foot.html" . }}