{{ define "title" }} | {{ .Title }}{{ end }}

{{ define "navbar" }} {{ partial "navbar/dark.html" . }} {{ end }}

{{ define "body" }}

<div class="container-fluid" id="page-content">
  <section class="header-with-img-bg" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(thumbnail.jpg)">
    <p class="header-with-img-bg__section header-with-img-bg__section--white">
      {{ .Params.event }}
    </p>
    <h1 class="header-with-img-bg__title">{{ .Title }}</h1>
    <p class="header-with-img-bg__section header-with-img-bg__section--white">
      {{ .Params.person }}
    </p>
  </section>

  <section>
    <article class="container event-content">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <table class="table">
            <tr>
              <th>Address</th>
              <td>{{ .Params.address }}</td>
            </tr>
            <tr>
              <th>Date</th>
              <td>{{ .Params.event_date }}</td>
            </tr>
            <tr>
              <th>Start Time</th>
              <td>{{ .Params.start_time }}</td>
            </tr>
            <tr>
              <th>End Time</th>
              <td>{{ .Params.end_time }}</td>
            </tr>
          </table>
        </div>
      </div>
    </article>
  </section>

  <section class="pink-stripes-section">
    <article class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="">{{ .Content }}</div>
        </div>
        <div id="eventbrite-widget-trigger"></div>
        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
        <script type="text/javascript">
          window.EBWidgets.createWidget({
            widgetType: "checkout",
            eventId: "{{ .Params.eventbrite_id }}",
            iframeContainerId: "eventbrite-widget-trigger",
            iframeContainerHeight: 425
          });
        </script>
      </div>
    </article>
  </section>
</div>

{{ end }}
