{{ $id := default "navbar" .id }}
{{ $logoColor := default "white" .logoColor }}
{{ $links := .root.Site.Data.config.menus.navbar }}
{{ $currentUrl := .root.RelPermalink }}
{{ $scratch := .root.Scratch }}
{{ $scratch.Set "currentURL" .root.RelPermalink }}

{{/* highlight the insights menu if it's a content section */}}
{{ range .root.Site.Data.config.insightSections }}
    {{ if hasPrefix $currentUrl (printf "/%s/" .) }}
        {{ $scratch.Set "currentURL" "/insights/" }}
    {{ end }}
{{ end }}

{{ $useUrl := $scratch.Get "currentURL" }}
<div class="Navbar__container">

    <a class="Navbar__link Navbar__link--logo" href="/">
        {{ partial "svg/logo-jetstack.svg" }}
    </a>
        
    <div id="{{ $id }}" class="Navbar__menu Navbar__menu--isClosed" aria-expanded="false" data-nav>
        <ul class="Navbar__list">
            {{ partial "menus/li.html" (dict "links" $links "active" $useUrl) }}
        </ul>
    </div>

    <button class="Navbar__toggle" type="button" aria-expanded="false" aria-controls="{{ $id }}" data-nav-toggle>
        <span class="sr-only">Toggle navigation</span>
        {{ partial "svg/icon-burger.svg" }}
    </button>

</div>
