{{ $id := default "navbar" .id }}
{{ $logoColor := default "white" .logoColor }}
{{ $links := .root.Site.Data.config.menus.navbar }}
{{ $currentUrl := .root.RelPermalink }}
{{ $scratch := .root.Scratch }}
{{ $scratch.Set "currentURL" .root.RelPermalink }}

{{/* highlight the insights menu if it's a content section */}}
{{ range .root.Site.Data.config.insightSections }}
    {{ if hasPrefix $currentUrl (printf "/%s/" .) }}
        {{ $scratch.Set "currentURL" "/insights/" }}
    {{ end }}
{{ end }}

{{ $useUrl := $scratch.Get "currentURL" }}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{ $id }}"
                aria-expanded="false" aria-controls="{{ $id }}">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand collapsed" href="/">
            <img class="navbar-brand__fadein" src="/img/png/newlogo{{ default "white" .logoColor }}.png" />
            <img class="navbar-brand__fadeout" src="/img/png/newlogowhite.png" />
        </a>
    </div>
    <div id="{{ $id }}" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

            {{ partial "menus/li.html" (dict "links" $links "active" $useUrl) }}

        </ul>
    </div><!--/.nav-collapse -->
</div>
