{{ define "title" }} | About Us{{ end }}

{{ define "navbar" }}
{{ partial "navbar/light.html" . }}
{{ end }}

{{ define "body" }}

<div class="container-fluid" id="page-content">
  {{ partial "panels/headline-simple.html" .Site.Data.config.headline.about }}

  <section class="container center tight">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="/img/jpg/team.jpg" alt="Team photograph" class="team-photo">
      </div>
    </div>
  </section>

  <div id="about">
    <section class="white">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="bio-list">

              {{ range $index, $page := .Data.Pages }}
              {{ partial "widgets/bio.html" $page }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

{{ end }}

{{ define "cta" }}
{{ partial "ctas/email-only"}}
{{ end }}

{{ define "footer" }}
{{ partial "footer/minimal-light.html" . }}
{{ end }}