{{ define "title" }} | {{ .Title }}{{ end }}

{{ define "navbar" }}
{{ partial "navbar/light.html" . }}
{{ end }}

{{ define "ogtitle" }}{{ .Title }}{{ end }}
{{ define "ogdescription" }}{{ .Params.og.description }}{{ end }}
{{ define "ogimage" }}{{ .Site.BaseURL }}{{ .Params.og.image }}{{ end }}

{{ define "body" }}

<div class="container-fluid" id="page-content">
  {{ partial "panels/headline-simple.html" .Site.Data.config.headline.about }}

  <section class="container center tight">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="/img/jpg/team.jpg" alt="Team photograph" class="team-photo">
      </div>
    </div>
  </section>

  <section class="headline-simple">
    <p class="headline-simple__strapline">{{ .Site.Data.config.headline.about.strapline2 }}</p>
  </section>

  <div id="about">
    <section class="white tight">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="bio-list">

              {{ $matts := where .Data.Pages ".Params.matt" "true" }}
              {{ $everyoneElse := where (where .Data.Pages ".Params.matt" "!=" "true") ".Params.next" "!=" "true" }}
              {{ $next := index (where .Data.Pages ".Params.next" "true") 0 }}

              {{ range $index, $page := shuffle $matts }}
              {{ partial "widgets/bio.html" $page }}
              {{ end }}

              {{ range $index, $page := shuffle $everyoneElse }}
              {{ partial "widgets/bio.html" $page }}
              {{ end }}
              {{ partial "widgets/bio.html" $next }}

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="locations">
      <div class="container">
        <p class="headline-simple__strapline">Jetstackers are busy working away from these locations:</p>
        <div class="locations-map">
          <img src="/img/svg/map.svg" alt="locations" />
          <div class="map-frame"></div>
          <a class="pin code-london"></a>
          <a class="pin code-bristol"></a>
          <a class="pin code-uk-north"></a>
          <a class="pin code-sweden"></a>
          <a class="pin code-lithuania"></a>
          <a class="pin code-belgium"></a>
          <a class="pin code-spain"></a>
        </div>
      </div>
    </section>
  </div>
</div>

{{ end }}

{{ define "cta" }}
<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="cta__heading">Get started with Jetstack</h2>
        <div class="cta__main cta__main--narrow">
          <form class="cta__form">
            <input class="cta__email" type="email" placeholder="Enter email address..." required />
            <button class="cta__submit" type="submit">Contact us</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

