{{ define "title" }} | Careers{{ end }}
{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">

    {{ partial "panels/blueheadline.html" .Site.Data.config.headline.careers }}

     <section class="tight media-component">

      <div class="media-component__row">
        <div class="media-component__image" style="background-image: url(/img/jpg/careers-group.jpg)">
        </div>
        <div class="media-component__content">
          <div class="media-component__copy">
              <h2>About us</h2>
              <p>We are a fast-growing company that prides itself with helping startups and enterprises alike in their path to modern cloud-native infrastructure. Since early 2015 we have helped dozens of companies get to production, and carefully designed and delivered training courses for all levels of Kubernetes users.</p>
              <p>We live and breathe Kubernetes, and we are proud to have created open source projects such as <a href="https://github.com/jetstack/kube-lego">Kube-Lego</a> and <a href="https://github.com/jetstack/cert-manager">cert-manager</a>. We also work tirelessly to help improve developer and operations experience, by working on projects such as <a href="https://github.com/jetstack/tarmak">Tarmak</a> and <a href="https://github.com/jetstack/navigator">Navigator</a>. </p>
              <p>Our focus is on upstream Kubernetes, providing real-world feedback, insight and engineering, all of which help us to advise our customers and develop our own tooling and integrations. We pride ourselves on our ability to communicate, collaborate and tackle complex issues.</p>
              <p>If containers and Kubernetes rock your world as much as they do ours, then take a look at our vacancies below and get in touch. Our team of talented experts is looking for new recruits.</p>
              <p>We're distributed across the UK, including our base in London, and offices in Bristol and Birmingham (<a href="/about/">meet the team</a>). We offer a culture of flexible working, passion for innovation, as well as learning and development.</p>
              
              <h2>Open positions</h2>
            <ul>
                {{ range $index, $page := .Data.Pages }}
                  <li><a href="{{ $page.URL }}">{{ $page.Title }}</a> - {{ $page.Params.location }}</li>
                {{ end }}
                  <li>Software Engineers - UK/Europe</li>
            </ul>
          </div>
        </div>
      </div>
    
  </section>
</div>

{{ end }}