{{ define "title" }} | Careers{{ end }}
{{ define "navbar" }}
{{ partial "navbar/light-transparent.html" . }}
{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">

  {{ partial "panels/headline-with-video.html" .Site.Data.config.headline.careers }}

  <section class="designer-section">
    <div class="container">
      <div class="designer-section__bg" aria-hidden="true"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="section-title">Why join us?</h2>
          <div class="designer-section__content">
            <p>
              We are a fast-growing Kubernetes professional services company that prides itself with helping
              startups and enterprises alike in their path to modern cloud-native infrastructure. Since early 2015 we
              have been partnering with companies to accelerate their cloud journey by building trusted, secure and
              scalable Kubernetes clusters that stand up in production.
            </p>

            <p>
              We have a strong brand and well-regarded reputation in the community. We also have personal relationships
              with many of the major cloud vendors, and a growing customer base. We offer a culture of flexible
              working, and enable you to work on either solutions-focused consultancy helping companies solve complex
              technical issues, or product engineering - developing open source tools extending the Kubernetes platform
              and giving back to the community. You would join a world-class team, play a leading part in our
              customers’ success, and the adoption of our technology in the open source community.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="section-title">Perks that will help you thrive at Jetstack</h2>

          <div class="perks">
            {{ partial "widgets/perk.html" (dict "title" "Conference leave entitlement" "icon" "svg/icon-perk-conference.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Sponsorship to gain qualifications" "icon" "svg/icon-perk-sponsorship.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Flexible working" "icon" "svg/icon-perk-flexible.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Cycle to work scheme" "icon" "svg/icon-perk-cycle.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Laptop of your choice" "icon" "svg/icon-perk-laptop.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "25 days of holiday (not including UK public holidays)" "icon" "svg/icon-perk-holidays.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Socials" "icon" "svg/icon-perk-social.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Ping pong table" "icon" "svg/icon-perk-pingpong.svg") }}
            {{ partial "widgets/perk.html" (dict "title" "Generous pension scheme (4% employer contribution)" "icon" "svg/icon-perk-pension.svg") }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="current-openings">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2 current-openings__img-container">
            <img src="/img/jpg/current-openings.jpg" alt="" class="current-openings__img">
            <div class="current-openings__bg" aria-hidden="true"></div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-3">
                  <h2 class="section-title section-title--left">Current openings:</h2>
                  <div>
                      <ul class="current-openings__list">
                        {{ range $index, $page := .Data.Pages }}
                        <li class="current-openings__list-item">
                          <a class="current-openings__link" href="{{ $page.URL }}">
                            {{ $page.Title }}
                          </a>
                        </li>
                        {{ end }}
                      </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <h2 class="section-title">From the blog</h2>
              <div class="blog-cards">
                <article class="blog-card">
                  <a href="https://blog.jetstack.io/blog/commercial-day-in-life/" class="blog-card__link">
                    <figure class="blog-cards__img" style="background-image: url(/img/jpg/about-simon.jpg)" aria-hidden="true"></figure>
                    <h2 class="blog-cards__title">“The most exciting part is definitely the growth potential of the company in an industry that is exploding.”</h2>
                    <p class="blog-card__author">Simon Parker</p>
                    <p class="blog-card__category">Commercial</p>
                  </a>
                </article>
                <article class="blog-card">
                  <a href="https://blog.jetstack.io/blog/day-in-the-life/" class="blog-card__link">
                    <figure class="blog-cards__img" style="background-image: url(/img/jpg/about-luke.jpg)" aria-hidden="true"></figure>
                    <h2 class="blog-cards__title">“The key underlying aspect of the Jetstack team is that we are all very enthusiastic about Kubernetes and are eager to learn.”</h2>
                    <p class="blog-card__author">Luke Addison</p>
                    <p class="blog-card__category">Field Engineering</p>
                  </a>
                </article>
                <article class="blog-card">
                  <a href="https://blog.jetstack.io/blog/year-in-review/" class="blog-card__link">
                    <figure class="blog-cards__img" style="background-image: url(/img/jpg/about-matt-1.jpg)" aria-hidden="true"></figure>
                    <h2 class="blog-cards__title">"No matter if you’re a technical architect, a CIO, or a software vendor, it’s time to get involved, and become a part of the movement to automate your IT infrastructure."</h2>
                    <p class="blog-card__author">Matthew Barker</p>
                    <p class="blog-card__category">Co-Founder</p>
                  </a>
                </article>
              </div>
          </div>
        </div>
      </div>
    </section>


    <section class="tight" id="instagram-feed">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">Instagram feed</h2>
            <div class="instagrams">
              {{ range $_, $photo := .Site.Data.config.featured_instagram_photos }}
                <a class="instagrams__link" href="{{ $photo.link }}" rel="noopener noreferrer" target="_blank">
                  <img src="/img/instagram/{{ $photo.image_source }}" alt="photo from the jetstack instagram account" class="instagrams__img">
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-title">Follow us on socials</h2>
            <div class="social-links">
              {{ range $index, $social := .Site.Data.config.menus.careers_social }}
                <a class="social-link social-link--{{$social.color}}" href="{{ $social.link }}" title="{{ $social.name }}" target="_blank" rel="noopener noreferrer">
                  {{ partial $social.img }}
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>

</div>

{{ end }}

{{ define "cta" }}
{{ partial "ctas/copy-only"}}
{{ end }}

{{ define "footer" }}
{{ partial "footer/minimal-light.html" . }}
{{ end }}
