{{ define "title" }} | Training{{ end }}

{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}

{{ define "body" }}


<div class="container-fluid" id="page-content">
    
  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.consulting }}
  
  <section class="tight media-component">
    <div class="media-component__row">
      <div class="media-component__image" style="background-image: url(/img/jpg/consulting.jpg)"></div>
      <div class="media-component__content">
        <div class="media-component__copy">
          <h2>Consulting</h2>
          <p>Jetstack have deployed production-ready Kubernetes for the hottest start-ups and the largest enterprises.</p>
          <p>They thrive on tackling the most difficult challenges around Kubernetes, everything from persistent storage to cluster federation.</p>
          <p>They track the Kubernetes project daily, and contribute code regulary. Their wide variety of experience will enbable you to get the most out of Kubernetes and make sure you avoid unnecessary issues and pitfalls. In doing so, they will bootstrap your team and accelerate your project.</p>
        </div>
        <ul class="media-component__popout-list">
          <li class="media-component__popout-list-item">
            On-Site
          </li>
          <li class="media-component__popout-list-item">
            Remote
          </li>
          <li class="media-component__popout-list-item">
            T&amp;M / Project-Based
          </li>
        </ul>
      </div>
    </div>
    <div class="media-component__row">
        <div class="media-component__image" style="background-image: url(/img/jpg/consulting-kubernetes.jpg)"></div>
        <div class="media-component__content">
          <div class="media-component__copy">
            <h2>Kubernetes Production Readiness</h2>
            <p>A Jetstack Production Readiness Review will validate existing work on Kubernetes, and identify any areas of the cluster that could be improved.</p>
            <p>You will receive a report with improvements laid out in a suggested remediation plan with recommendations prioritised based on critically. By the end of the review, you will have concretete steps on getting to a best-practise cluster.</p>
            <p>In the process of delivering production readiness reports for customers, Jetstack has has uncovered a wide variety of issues that would otherwise have proved critical to the production usage of Kubernetes. They have also saved up to 45% of cloud bills by accurately sizing and architecting the cluster.</p>
          </div>
          <ul class="media-component__popout-list">
            <li class="media-component__popout-list-item">
              <strong>Day 1</strong> On-site cluster review
            </li>
            <li class="media-component__popout-list-item">
              <strong>Day 2</strong> On-site cluster review
            </li>
            <li class="media-component__popout-list-item">
              <strong>Within 15 days</strong> A full and comprehensive production readiness report, delivered on-site
            </li>
          </ul>
        </div>
      </div>
  </section>

  <section class="container">
      <div class="row">
          <div class="col-md-8">
            <blockquote class="testimonial">
                <p class="testimonial__copy">"The fact that we have a high degree of automation, CD pipelines and a resilient cluster after 2 weeks is a great achievement and a demonstration of the value that Jetstack provide."</p>
                <cite class="testimonial__cite">Lead Architect, Top 100 UK Website</cite>
            </blockquote>
          </div>
      </div>
  </section>

</div>

{{ end }}

{{ define "scripts" }}

{{ end }}
