{{ define "title" }} | Consulting{{ end }}

{{ define "navbar" }}
    {{ partial "navbar/dark.html" . }}
{{ end }}

{{ define "body" }}


<div class="container-fluid" id="page-content">
    
  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.consulting }}
  
  <section class="tight media-component">
    <div class="media-component__row">
      <div class="media-component__image" style="background-image: url(/img/jpg/consulting.jpg)"></div>
      <div class="media-component__content">
        <div class="media-component__copy">
          <h2>Consulting</h2>
          <p>Jetstack have deployed production-ready Kubernetes for the hottest start-ups and the largest enterprises.</p>
          <p>We thrive on tackling the most difficult challenges around Kubernetes, everything from persistent storage to cluster federation.</p>
          <p>We track the Kubernetes project daily, and contribute code regularly. Our wide variety of experience will enable you to get the most out of Kubernetes and make sure you avoid unnecessary issues and pitfalls. In doing so, we will bootstrap your team and accelerate your project.</p>
        </div>
        <ul class="media-component__popout-list">
          <li class="media-component__popout-list-item">
            On-Site
          </li>
          <li class="media-component__popout-list-item">
            Remote
          </li>
          <li class="media-component__popout-list-item">
            T&amp;M / Project-Based
          </li>
        </ul>
      </div>
    </div>
    <div class="media-component__row">
        <div class="media-component__image" style="background-image: url(/img/jpg/consulting-kubernetes.jpg)"></div>
        <div class="media-component__content">
          <div class="media-component__copy">
            <h2>Production Readiness Review</h2>
            <p>A Jetstack Production Readiness Review will validate existing work on Kubernetes, and identify any areas of your cluster that could be improved.</p>
            <p>You will receive a report with improvements laid out in a suggested remediation plan with recommendations prioritised based on criticality. By the end of the review, you will have a list of concrete steps on getting to a best-practice cluster.</p>
            <p>In the process of delivering Production Readiness reports for customers, Jetstack have uncovered a wide variety of issues that would otherwise have proved critical to the production usage of Kubernetes. We have also saved up to 45% of cloud bills by accurately sizing and architecting the cluster.</p>
          </div>
          <ul class="media-component__popout-list">
            <li class="media-component__popout-list-item">
              <strong>Day 1</strong> On-site cluster review
            </li>
            <li class="media-component__popout-list-item">
              <strong>Day 2</strong> On-site cluster review
            </li>
            <li class="media-component__popout-list-item">
              <strong>Within 15 days</strong> A full and comprehensive Production Readiness report, delivered on-site
            </li>
          </ul>
        </div>
      </div>
      <div class="media-component__row">
        <div class="media-component__image" style="background-image: url(/img/jpg/training-in-person.jpg)"></div>
        <div class="media-component__content">
          <div class="media-component__copy">
            <h2>Cloud Native Discovery Workshop</h2>
            <p>A Cloud Native Discovery Workshop is a comprehensive assessment of the overall status of your infrastructure and its application with a plan for moving to a Cloud Native architecture on Kubernetes.</p>
            <p>You will receive a full migration plan with all steps laid out. This migration plan will help with the setup of a Kubernetes platform and migration of your application to it.</p>
          </div>
          <ul class="media-component__popout-list">
            <li class="media-component__popout-list-item">
              <strong>Day 1</strong> Scoping & Best Practices
            </li>
            <li class="media-component__popout-list-item">
              <strong>Day 2</strong> Architecture & Planning
            </li>
            <li class="media-component__popout-list-item">
              <strong>Within 15 days</strong> A full comprehensive migration plan with an architectural overview
            </li>
          </ul>
        </div>
      </div>
  </section>

  <section class="container">
      <div class="row">
          <div class="col-md-8">
            <blockquote class="testimonial">
                <p class="testimonial__copy">"The fact that we have a high degree of automation, CD pipelines and a resilient cluster after 2 weeks is a great achievement and a demonstration of the value that Jetstack provide."</p>
                <cite class="testimonial__cite">Lead Architect, Top 100 UK Website</cite>
            </blockquote>
          </div>
      </div>
  </section>

</div>

{{ end }}

{{ define "scripts" }}

{{ end }}
