{{ define "title" }} | Contact{{ end }}
{{ define "head" }}
    <link href="/css/contact.css?timestamp={{ now.Unix }}" rel="stylesheet"/>
    <link href="/css/form.css?timestamp={{ now.Unix }}" rel="stylesheet"/>
{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">

  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.contact }}


      <section class="lightblue" id="form">
        <div class="container">
            <div id="mc_embed_signup">
                <form action="/api/v1/contact"
                      method="POST"
                      id="contact-form" name="contact-form">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name <span class="asterisk">*</span></label>
                            <input type="text" class="form-control" required="required"  name="name" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" name="company" id="company"
                                   placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span class="asterisk">*</span></label>
                            <input type="email" required="required" class="form-control" name="email" id="email"
                                   placeholder="Email" data-validation="email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" name="phone" id="phone"
                                   placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="project">Tell us about your project</label>
                            <textarea class="form-control" name="message" id="project"
                                      placeholder="Tell us about your project"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="long">How should we contact you?</label>
                            <label for="email-contact" class="checkbox-inline">
                                <input type="checkbox" id="email-contact" name="contact"
                                       value="Email" checked="checked"> Email
                            </label>
                            <label for="telephone-contact" class="checkbox-inline">
                                <input type="checkbox" id="telephone-contact" name="contact"
                                       value="Telephone"> Telephone
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="long">Keep up-to-date with Jetstack and join our mailing list?</label>
                            <label for="newsletter-yes" class="radio-inline">
                                <input type="radio" id="newsletter-yes" name="newsletter"
                                       value="Yes" checked="checked"> Yes
                            </label>
                            <label for="newsletter-no" class="radio-inline">
                                <input type="radio" id="newsletter-no" name="newsletter"
                                       value="No"> No
                            </label>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="success" style="display:none">
                              {{ with .Site.Params.contact.thanks }}
                                {{ . | markdownify }}
                              {{ else }}
                                Thank you for contacting us - we'll be in touch.
                              {{ end }}
                            </div>
                            <div class="response" id="error" style="display:none">
                              {{ with .Site.Params.contact.error }}
                                {{ . | markdownify }}
                              {{ else }}
                                Message could not be sent.<br/>
                                Please contact us at <a href="{{ .Site.Data.config.contact.email }}">{{ .Site.Data.config.contact.email }}</a> instead.
                              {{ end }}
                            </div>
                        </div>
                        <div class="form-group submit">
                            <label for="submit" class="long"></label>
                            <button type="submit" name="submit" id="submit-contact" class="btn btn-default">
                                Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="white center tight" id="locations">
        <div class="container">
            <h2>Our Offices</h2>
            
            <div class="offices">
            {{ range $index, $office := .Site.Data.config.offices }}
                <address class="offices__office">
                <u>{{ $office.name }}</u><br />
                {{ range $office.address }}{{ . }}<br />{{ end }}
                </address>
            {{ end }}
            </div>
            
            <hr />
            
            <h2>Getting There</h2>
            
            <p class="locations">
                {{ range $index, $office := .Site.Data.config.offices }}
                    <a href="javascript:void(0)" onclick="focusMap('{{ $office.name }}')" class="text-light-alt" id="{{ $office.name }}">{{ $office.name }}</a>
                {{ end }}
            </p>
        </div>
    </section>
    <section class="white tight" id="map">
    </section>

</div>

{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-AXoCphhOdRV_3IwXMuakFyZyiqmA7o"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/26/10/map.js"></script>
<script type="text/javascript">

    // loop over each office entry in config.yaml and feed it to the js script
    // addOfficeLocation is defined in /js/map.js
    {{ range $index, $office := .Site.Data.config.offices }}
        addOfficeLocation(JSON.parse({{ dict "name" $office.name "lat" $office.lat "lon" $office.lon "address" $office.address "default" $office.default | jsonify }}))
    {{ end }}
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script type="text/javascript" src="/js/contactform.js"></script>
{{ end }}


{{ define "footer" }}
    {{ partial "footer/minimal.html" . }}
{{ end }}
