{{ define "title" }} | Contact{{ end }}
{{ define "head" }}
    <link href="/css/contact.css?timestamp={{ now.Unix }}" rel="stylesheet"/>
    <link href="/css/form.css?timestamp={{ now.Unix }}" rel="stylesheet"/>
{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">

  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.contact }}


      <section class="lightblue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">One of our team will get back to you</p>
                    <p class="text-center">
                      <a class="subscriptions-form__button" href="mailto:hello@jetstack.io?subject=General Enquiry">Email us</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="white center tight" id="locations">
        <div class="container">
            <h2>Our Offices</h2>

            <div class="offices">
            {{ range $index, $office := .Site.Data.config.offices }}
                <address class="offices__office">
                <u>{{ $office.name }}</u><br />
                {{ range $office.address }}{{ . }}<br />{{ end }}
                </address>
            {{ end }}
            </div>

            <hr />

            <h2>Getting There</h2>

            <p class="locations">
                {{ range $index, $office := .Site.Data.config.offices }}
                    <a href="javascript:void(0)" onclick="focusMap('{{ $office.name }}')" class="text-light-alt" id="{{ $office.name }}">{{ $office.name }}</a>
                {{ end }}
            </p>
        </div>
    </section>
    <section class="white tight" id="map">
    </section>

</div>

{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Data.config.apikeys.maps }}"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript">

    // loop over each office entry in config.yaml and feed it to the js script
    // addOfficeLocation is defined in /js/map.js
    {{ range $index, $office := .Site.Data.config.offices }}
        addOfficeLocation(JSON.parse({{ dict "name" $office.name "lat" $office.lat "lon" $office.lon "address" $office.address "default" $office.default | jsonify }}))
    {{ end }}
</script>
<script type="text/javascript" src="/js/mautic.js"></script>
<script type="text/javascript" src="/js/contactform.js"></script>

{{ end }}


{{ define "footer" }}
    {{ partial "footer/minimal.html" . }}
{{ end }}
