{{ define "title" }} | Engineering{{ end }}
{{ define "body" }}

<div class="container-fluid" id="page-content">
    <section class="blue" id="strapline">
        <h1 class="text-light">Supercharging Kubernetes <br/>with Jetstack Engineering</h1>
        <p class="text-light-alt">Enhancing your experience a tool at a time</p>
    </section>

    <section class="white center thin" id="intro">
        <p>Jetstack develop tools to make your experience with <br/>Kubernetes easier and more productive</p>
    </section>

    <section class="white center thin" id="engineering">
        <div class="container">
            <div class="row">
                <div class="engineering-block">
                    <div class="image-zoom-container">
                        <a href="engineering-lego.html"><img src="dist/img/jpg/engineering-lego.jpg"/></a>
                    </div>
                    <div class="text">
                        <h3>Kube-lego</h3>
                        <p><a href="engineering-lego.html">Learn more</a></p>
                    </div>
                </div>
                <div class="engineering-block">
                    <div class="image-zoom-container">
                        <a href="engineering-slingshot.html"><img src="dist/img/jpg/engineering-slingshot.jpg"/></a>
                    </div>
                    <div class="text">
                        <h3>Slingshot</h3>
                        <p><a href="engineering-slingshot.html">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="engineering-block">
                    <div class="image-zoom-container">
                        <a href="engineering-flocker.html"><img src="dist/img/jpg/engineering-flocker.jpg"/></a>
                    </div>
                    <div class="text">
                        <h3>Flocker</h3>
                        <p><a href="engineering-flocker.html">Learn more</a></p>
                    </div>
                </div>
                <div class="engineering-block">
                    <div class="image-zoom-container">
                        <a href="engineering-marshal.html"><img src="dist/img/jpg/engineering-marshal.jpg"/></a>
                    </div>
                    <div class="text">
                        <h3>Marshal</h3>
                        <p>Coming soon! Details to come.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{ end }}