{{ define "title" }} | Training{{ end }}

{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}

{{ define "body" }}


<div class="container-fluid" id="page-content">
    
  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.training_in_person_section }}
  
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        
        <div>
         <h2>What is it?</h2>
         
         <p class="black"><strong>Kubernetes In Practice - 2 Days</strong><br />
         <p class="black"><strong>Kubernetes Operator - 2 Days</strong><br />
      
           <!--<h3>Kubernetes User</h3>
          <p class="black"><strong>Day 1 - Kubernetes Beginner</strong><br />
          <p class="black"><strong>Day 2 - Kubernetes Intermediate</strong><br /> 
          <h3>Kubernetes Operator</h3>
          <p class="black"><strong>Day 1 - Operations </strong><br />
          <p class="black"><strong>Day 2 - Wargaming </strong><br />
          --> 
            
          
          <!--
          <p class="black"><strong>Kubernetes Beginner - One Day</strong><br />
          <strong>Kubernetes Intermediate - One Day</strong><br />
          <strong>Kubernetes Advanced Operations - One Day</strong></p>
          -->
          <br/>
          
          <p>These are hands-on modular courses that will train you in deploying and operating Kubernetes efficiently, whatever your level of experience.</p>
          <p> Jetstack’s training courses draw from our experience of deploying Kubernetes for clients. They are very interactive, and give you the chance to explore key areas of interest.</p>
        </div>
        
        <br/>
        

        <blockquote class="testimonial">
            <p class="testimonial__copy">"I’m in a position where I know what I need to focus on, just need to get some hours under my belt playing with it."</p>
            <cite class="testimonial__cite">Workshop Attendee</cite>
        </blockquote>

      </div>
     
      <div class="col-md-offset-2 col-md-5">
        <div class="image-with-tile">
          <img class="image-with-tile__img" src="/img/jpg/training-trainer-480x480.jpg" alt="">
        </div>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-md-4">
        <h2>Beginner:</h2>
        <p>You will learn how to deploy a microservices application to Google Kubernetes Engine (GKE). We will explain the core concepts of Kubernetes and give hands-on, instructor-led labs that cover topics such as persistent volume types, application logs, and using Helm to package and deploy applications.</p>
        <p>At the end of the day you will see continuous integration and deployment (CI/CD) on Kubernetes, as an application is deployed into multiple environments before being rolled out to production.</p>
      </div>
      <div class="col-md-4">
        <h2>Intermediate:</h2>
        <p>We will demonstrate some of the more advanced features of Kubernetes and how you can use them to reduce the operational burden on your team. We will provide hands-on, instructor-led labs that cover topics such as Autoscaling, the Control Plane, Ingress and StatefulSet.</p>
        <p>You will also get to set up a CI/CD pipeline running on Kubernetes, deploying to multiple environments with Helm. We will introduce Cluster Federation and see a federated, multi-region cluster in action using an example microservices demo application.</p>
      </div>
      <div class="col-md-4">
        <h2>Advanced:</h2>
        <p>You will learn about pushing the boundaries of Kubernetes by focusing on advanced features and doing a deep dive of the internals. You will get a flavour of what it's like to be responsible for a cluster at scale, hearing about SRE best-practice at Google.</p>
        <p>Then, find out how you would fare whilst operating Kubernetes under pressure in our team 'Wargaming' exercise. As part of the challenge, we will break your Kubernetes cluster in a series of different ways, leaving you and your teammates to figure out how to fix it.</p>
        <p>Scenarios are based on real-world Kubernetes issues faced by Jetstack engineers.</p>
      </div>
    </div>
  -->


  <h2>Kubernetes In Practice</h2>
  <div class="row">
    <div class="col-sm-5">
      <h4 class="black"><strong>Day 1 - Beginner</strong>
        <br/>
      <br/>
      <p>Introduction to core concepts of Kubernetes: Hands-on labs covering persistent volume types, application logs, and using Helm to package and deploy applications.</p>
      <p>
        For full agenda <a href="/contact/">contact us.</a>
        </p>
    </div>

    <div class="col-sm-offset-2 col-sm-5">
      <h4 class="black"><strong>Day 2 - Intermediate</strong>
      </br>
    </br>
      <p>Advanced Kubernetes features and how to use them to lessen operational burden: Hands-on labs covering Autoscaling, the Control Plane, Ingress and StatefulSet.</p>
      <p>
        For full agenda <a href="/contact/">contact us.</a>
        </p>
    </div>
   </div>
  
  </br>
</br>
  
   <h2>Kubernetes Operator</h2> 
  <div class="row">
    <div class = "col-sm-5">
      <h4 class="black"><strong>Day 1 - Kubernetes From Scratch</strong>
      </br>
    </br>
        <p>Provision a Kubernetes cluster manually from the ground up: Learn how to configure cluster components such as apiserver, controller-manager, scheduler, etcd, kubelet, kube-proxy, container runtime.</p>
        <p>
          For full agenda <a href="/contact/">contact us.</a>
          </p>
      </div> 
      
    <div class = "col-sm-offset-2 col-sm-5">  
      <h4 class="black"><strong>Day 2 - Operational Wargaming</strong>
      </br>
      </br>  
      <p>Push the boundaries of Kubernetes with a deep dive of the internals. Test your ability to operate Kubernetes under pressure with our team 'Wargaming' exercise. We will break your Kubernetes cluster, and you must work together to overcome production issues and common cluster failures.</p>
      <p>For full agenda <a href="/contact/">contact us.</a>
      </p>  
    </div>
   </div>

  <section class="container tight">
      <div class="row">
          <div class="col-12" style="margin:auto; margin-top: 50px">
              <div class="image-with-tile image-with-tile--horizontal">
                <img class="image-with-tile__img" src="/img/png/stars.png" alt="" height="300" width="500">
              </div>
          </div>          
      </div>      
  </section>

  <section class="container tight">
      <div class="row">
          <div class="col-12" style="margin:auto; margin-top: 30px; margin-bottom: 30px">
            <blockquote class="testimonial">
                <p class="testimonial__copy" style="text-align: center">"Boom!"</p>
                <cite class="testimonial__cite" style="margin:auto;">Workshop Attendee</cite>
            </blockquote>
          </div>
      </div>
  </section>

  <section class="container tight">
    <div class="row">
        <div class="col-md-offset-1 col-md-8" style="margin:auto">
            <div class="image-with-tile image-with-tile--horizontal">
              <img class="image-with-tile__img" src="/img/jpg/training-in-person-participants.jpg" alt="" height="300" width="500">
            </div>
        </div>
    </div>
  </section>


<!--  <section class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-8">
              <div class="image-with-tile image-with-tile--horizontal">
                <img class="image-with-tile__img" src="/img/jpg/training-in-person-1200x670.jpg" alt="">
              </div>
          </div>
      </div>
    </section>
  -->



</div>

{{ end }}

{{ define "scripts" }}

{{ end }}
