{{ define "title" }} | Training{{ end }}

{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}

{{ define "body" }}


<div class="container-fluid" id="page-content">
    
  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.open_source }}
  
  <section class="tight media-component">
    {{ range $index, $page := .Data.Pages }}
      {{ if modBool $index 2 }}
      <div class="media-component__row">
        <div class="media-component__image" style="background-image: url({{ $page.Params.image }})">
          <div class="media-component__image-content-container">
            {{ if $page.Params.logo }}
            <img src="/img/svg/logo-tarmak.svg" alt="Tarmak Logo">
            {{ else }}
            <span>{{ $page.Title }}</span>
            {{ end }}
          </div>
        </div>
        <div class="media-component__content">
          <div class="media-component__copy">
            <h2>{{ $page.Title }}</h2>
            <p>{{ $page.Content }}</p>
            <div class="media-component__links">
              <a href="#">Get started</a>
              <a href="{{ $page.Params.github }}"><i class="icon icon--github"></i>Go to GitHub repo</a>
            </div>
          </div>
        </div>
      </div>
      {{ else }}
      <div class="media-component__row">
          <div class="media-component__image" style="background-image: url({{ $page.Params.image }})">
            <div class="media-component__image-content-container">
              {{ if $page.Params.logo }}
              <img src="/img/svg/logo-tarmak.svg" alt="Tarmak Logo">
              {{ else }}
              <span>{{ $page.Title }}</span>
              {{ end }}
            </div>
          </div>
          <div class="media-component__content">
            <div class="media-component__copy">
              <h2>{{ $page.Title }}</h2>
              <p>{{ $page.Content }}</p>
              <div class="media-component__links">
                <a href="#">Get started</a>
                <a href="{{ $page.Params.github }}"><i class="icon icon--github"></i>Go to GitHub repo</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
      </div>
  </section>

</div>

{{ end }}

{{ define "scripts" }}

{{ end }}
