{{ define "title" }} | {{ .Title }}{{ end }}
{{ define "description" }}{{ .Params.og.description }}{{ end }}

{{ define "navbar" }}
{{ partial "navbar/dark.html" . }}
{{ end }}

{{ define "ogtitle" }}{{ .Title }}{{ end }}
{{ define "ogdescription" }}{{ .Params.og.description }}{{ end }}
{{ define "ogimage" }}{{ .Site.BaseURL }}{{ .Params.og.image }}{{ end }}

{{ define "body" }}

<!-- Media Hero Section -->
<section class="media-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="media-hero__content">
                    <div class="media-hero__graphic">
                        <img src="/img/png/preflight-logo.png" alt="" />
                    </div>

                    <div class="media-hero__copy">
                        <h1>{{ .Title | markdownify }}</h1>
                        <p>{{ .Params.subtitle | markdownify }}</p>

                        <ul class="media-hero__ctas">
                            {{ range .Params.features }}
                            <li>
                                <a href="#{{ .title | urlize }}" class="media-hero__cta media-hero__cta--{{ .color }}"
                                    data-smooth-scroll>
                                    <span class="media-hero__cta-content">
                                        <span class="media-hero__cta-text">{{ .title }}</span>
                                        <span class="media-hero__icon">
                                            {{ partial "svg/icon-arrow-right.svg" }}
                                        </span>
                                    </span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>

                        <div class="media-hero__main-cta-wrapper">
                            <a href="https://preflight.jetstack.io" target="_blank" class="Button">Visit Preflight</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Media Hero Section -->

<!-- Info Icon Section  -->
{{ $features := .Params.features }}
{{ range .Params.features }}
<section id="{{ .title | urlize }}" class="info-icons info-icons--{{ .color }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="info-icons__hero">
                    <h2>{{ .title }}</h2>
                    <p>{{ .description | markdownify }}</p>
                    {{ with .image }}
                        <div class="media-hero__graphic">
                            <img src="{{ .url }}" alt="{{ .alt }}" />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ end }}

{{ define "cta"}}
<!-- Subscriptions Form -->
<section id="contactform" class="subscriptions-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="media-hero__main-cta-wrapper">
                    Sound interesting? <br /><br />
                    <a href="https://preflight.jetstack.io" target="_blank" class="Button">Visit Preflight</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscriptions Form -->
{{ end }}
