{{ define "title" }} | {{ .Title }}{{ end }}
{{ define "description" }}{{ .Params.og.description }}{{ end }}

{{ define "navbar" }}
{{ partial "navbar/dark.html" . }}
{{ end }}

{{ define "ogtitle" }}{{ .Title }}{{ end }}
{{ define "ogdescription" }}{{ .Params.og.description }}{{ end }}
{{ define "ogimage" }}{{ .Site.BaseURL }}{{ .Params.og.image }}{{ end }}

{{ define "body" }}

<!-- Media Hero Section -->
<section class="media-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="media-hero__content">
                    {{ with .Params.og.image }}
                        <div class="media-hero__graphic media-hero__graphic--banner {{ if eq .small true }}media-hero__graphic--small{{end}}">
                            <img src="{{ .url }}" alt="{{ .alt }}" />
                        </div>
                    {{ end }}
                    <div class="media-hero__copy">
                        <h1>
                            {{ with .Params.logo }}
                                <img class="media-hero__main-logo" src="{{ .url }}" alt="{{ .alt }}" />
                            {{ end }}
                            {{ .Title | markdownify }}
                        </h1>
                        {{ with .Params.subtitle }}
                            <h3>{{ . | markdownify }}</h3>
                        {{ end }}
                        <p>{{ .Params.description | markdownify }}</p>

                        <ul class="media-hero__ctas">
                            {{ range .Params.features }}
                            <li>
                                <a href="#{{ .title | urlize }}" class="media-hero__cta media-hero__cta--{{ .color }}"
                                    data-smooth-scroll>
                                    <span class="media-hero__cta-content">
                                        <span class="media-hero__cta-text">{{ .short | default .title }}</span>
                                        <span class="media-hero__icon">
                                            {{ partial "svg/icon-arrow-right.svg" }}
                                        </span>
                                    </span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>

                        <div class="media-hero__main-cta-wrapper">
                            {{ range .Params.links }}
                                {{ if .contactform }}
                                    <a href="#contactform" class="media-hero__main-cta-wrapper__button Button" data-smooth-scroll>{{ .text }}</a>
                                {{ else }}
                                    <a href="{{ .url }}" {{ if .external }}target="_blank"{{ end }} class="media-hero__main-cta-wrapper__button Button">{{ .text }}</a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Media Hero Section -->

<!-- Info Icon Section  -->
{{ $features := .Params.features }}
{{ range .Params.features }}
<section id="{{ .title | urlize }}" class="info-icons info-icons--hr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="info-icons__hero">
                    <h2>{{ .title }}</h2>
                    <p>{{ .description | markdownify }}</p>
                    {{ with .additional }}
                        {{ if eq . "preflight:packages" }}
                        <div>
                            <h3>Supported Packages</h3>
                            <dl>
                                <dt>Kubernetes Pods</dt>
                                <dd>Covers configuration of basic Kubernetes resources</dd>

                                <dt>cert-manager</dt>
                                <dd>Configuration of cert-manager, and associated resources, e.g. Secrets</dd>
                                <dt>Google Kubernetes Engine</dt>
                                <dd>Covers configuration of the cluster within Google Kubernetes Engine</dd>
                                <dt>Versions</dt>
                                <dd>Reports outdated or insecure versions of Kubernetes addons</dd>
                            </dl>
                            <h3>Coming soon</h3>
                            <dl>
                                <dt>AWS Elastic Kubernetes Service, Azure Kubernetes Service</dt>
                                <dd>Configuration of clusters within these hosted platforms</dd>

                                <dt>API Version Deprecation</dt>
                                <dd>Reports when using Kubernetes resource versions that have been deprecated and are about to be removed</dd>

                                <dt>Istio</dt>
                                <dd>Covers configuration of the service mesh and its use by other services</dd>
                            </dl>
                        </div>
                        {{ end }}
                    {{ end }}
                    {{ with .image }}
                        <div class="media-hero__graphic {{ if eq .small true }}media-hero__graphic--small{{end}}">
                            <img src="{{ .url }}" alt="{{ .alt }}" />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ end }}

{{ define "cta"}}
{{ with .Params.cta }}
    <section id="contactform" class="subscriptions-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="media-hero__main-cta-wrapper">
                        <h1>{{ .title }}</h1>
                        <p>{{ .text | markdownify }} </p>
                        {{ with .freshsales }}
                            <div class="media-hero__cta__freshsales">
                                <script src="{{ .src }}" crossorigin='anonymous' id="{{ .id }}"></script>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
{{ end }}
