{{ define "title" }} | {{ .Title }}{{ end }}
{{ define "description" }}Jetstack Subscription is designed to help you verify, support and continually optimise your Kubernetes production environment.{{ end }}

{{ define "navbar" }}
{{ partial "navbar/dark.html" . }}
{{ end }}

{{ define "ogtitle" }}{{ .Title }}{{ end }}
{{ define "ogdescription" }}{{ .Params.og.description }}{{ end }}
{{ define "ogimage" }}{{ .Site.BaseURL }}{{ .Params.og.image }}{{ end }}

{{ define "body" }}

<!-- Media Hero Section -->
<section class="media-hero">
  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <div class="media-hero__content">
          <div class="media-hero__graphic">
            <img src="/img/svg/hero-layers.svg" alt="" />
          </div>

          <div class="media-hero__copy">
            <h1>{{ .Site.Data.config.headline.subscription.headline }}</h1>
            <p>{{ .Site.Data.config.headline.subscription.strapline }}</p>
            <ul class="media-hero__ctas">
              <li>
                <a href="#breakfixsupport" class="media-hero__cta media-hero__cta--green" data-smooth-scroll>
                  <span class="media-hero__icon">
                    {{ partial "svg/icon-support.svg" }}
                  </span>
                  <span class="media-hero__cta-content">
                    <span class="media-hero__cta-text">Break Fix Support</span>
                    <span class="media-hero__icon">
                      {{ partial "svg/icon-arrow-right.svg" }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#cre" class="media-hero__cta media-hero__cta--blue" data-smooth-scroll>
                  <span class="media-hero__icon">
                    {{ partial "svg/icon-cre.svg" }}
                  </span>
                  <span class="media-hero__cta-content">
                    <span class="media-hero__cta-text">Customer Reliability Engineering</span>
                    <span class="media-hero__icon">
                      {{ partial "svg/icon-arrow-right.svg" }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#refarchitecture" class="media-hero__cta media-hero__cta--purple" data-smooth-scroll>
                  <span class="media-hero__icon">
                    {{ partial "svg/icon-ref-arch.svg" }}
                  </span>
                  <span class="media-hero__cta-content">
                    <span class="media-hero__cta-text">Kubernetes Reference Architecture</span>
                    <span class="media-hero__icon">
                      {{ partial "svg/icon-arrow-right.svg" }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#preflight" class="media-hero__cta media-hero__cta--yellow" data-smooth-scroll>
                  <span class="media-hero__icon">
                    {{ partial "svg/icon-compliance.svg" }}
                  </span>
                  <span class="media-hero__cta-content">
                    <span class="media-hero__cta-text">Automated Cluster Compliance Checking</span>
                    <span class="media-hero__icon">
                      {{ partial "svg/icon-arrow-right.svg" }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#training" class="media-hero__cta media-hero__cta--maroon" data-smooth-scroll>
                  <span class="media-hero__icon">
                    {{ partial "svg/icon-online-training.svg" }}
                  </span>
                  <span class="media-hero__cta-content media-hero__cta-content--no-border">
                    <span class="media-hero__cta-text">Online Training and Wargaming</span>
                    <span class="media-hero__icon">
                      {{ partial "svg/icon-arrow-right.svg" }}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
            <div class="media-hero__main-cta-wrapper">
              <a href="#contactform" class="Button" data-smooth-scroll>Register Interest</a>
            </div>
          </div>

          <div class="media-hero__bottom">
            <div class="media-hero__logos-section">
              <h2>Jetstack is trusted by</h2>
              <div class="media-hero__logos">
                {{ partial "svg/logo-monzo.svg" }}
                {{ partial "svg/logo-google-cloud.svg" }}
                {{ partial "svg/logo-babylon.svg" }}
                {{ partial "svg/logo-pearson.svg" }}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<!-- Media Hero Section -->


<!-- Image Testimonial Section -->
<section class="img-testimonial" style="background-image: linear-gradient(to right, rgba(27, 28, 41, 0.95), rgba(27, 28, 41, 0.95)), url(/img/jpg/training-subscription.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <blockquote class="img-testimonial__quote">
          <p class="large-subscription-customer">
            "When we first started working with Jetstack immediately what we saw was things getting done and improvements being made
            and a collection of things we knew we needed to change. That freed us up to think about the other things we knew we
            needed to work on, and then what we saw was Jetstack stepping in and giving us that advice"
          </p>
          <cite class="img-testimonial__cite__large_subscription_customer">Giles Alexander, XenZone CTO</cite>
        </blockquote>
      </div>
      <div class="col-sm-12">
        <div class="img_testimonail__video_container">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D6mJJuty4_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Image Testimonial Section -->


<!-- Info Icon Section (Green, with horizontal rule) -->
<section id="breakfixsupport" class="info-icons info-icons--hr info-icons--green">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="info-icons__hero">
          <div class="info-icons__hero-icon">
            {{ partial "svg/icon-support-large.svg" }}
          </div>
          <h2>Break Fix Support</h2>
          <p>Use Jetstack as an extension of your team</p>
        </div>
        <div class="info-icons__content">
          <ul class="info-icons__features">
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-24h.svg" }}
              </div>
              <p class="info-icons__feature-copy">24x7 on demand SLA-lead support</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-sla.svg" }}
              </div>
              <p class="info-icons__feature-copy">Coaching and debugging via video conferencing</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-peace.svg" }}
              </div>
              <p class="info-icons__feature-copy">Expert Kubernetes knowledge</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-percent.svg" }}
              </div>
              <p class="info-icons__feature-copy">Discounted consulting</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Icon Section (Green, with horizontal rule) -->


<!-- Info Icon Section (Purple, with horizontal rule) -->
<section id="cre" class="info-icons info-icons--hr info-icons--blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="info-icons__hero">
          <div class="info-icons__hero-icon">
            {{ partial "svg/icon-cre-large.svg" }}
          </div>
          <h2>Customer Reliability Engineering</h2>
          <p>Our CREs are your guide to platform reliability</p>
        </div>
        <div class="info-icons__content">
          <ul class="info-icons__features">
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-24h.svg" }}
              </div>
              <p class="info-icons__feature-copy">Assigned CRE for your account</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-sla.svg" }}
              </div>
              <p class="info-icons__feature-copy">Monthly on-site visits</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-assist.svg" }}
              </div>
              <p class="info-icons__feature-copy">Ongoing architectural assistance and optimisation</p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-rocket.svg" }}
              </div>
              <p class="info-icons__feature-copy">Proof of concepts</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Icon Section (Purple, with horizontal rule) -->


<!-- Info Icon Section (Blue, with horizontal rule) -->
<section id="refarchitecture" class="info-icons info-icons--hr info-icons--purple">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="info-icons__hero">
          <div class="info-icons__hero-icon">
            {{ partial "svg/icon-ref-arch-large.svg" }}
          </div>
          <h2>Kubernetes Reference Architecture</h2>
          <p>Gain the confidence of a best-practice cluster</p>
        </div>
        <div class="info-icons__content">
          <ul class="info-icons__features">
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-lock.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Access to best-practice reference architecture
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-cloud.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Ready-to go demonstrators
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-wall.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Blueprints for the latest cloud native landscape
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-flex.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                GKE, EKS, on-premises environments, and more
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Icon Section (Blue, with horizontal rule) -->


<!-- Info Icon Section (Green, with horizontal rule) -->
<section id="preflight" class="info-icons info-icons--hr info-icons--green">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="info-icons__hero">
          <div class="info-icons__hero-icon">
            {{ partial "svg/icon-clipboard.svg" }}
          </div>
          <h2>Automated Cluster Compliance Checking</h2>
          <p>Preflight will help operators identify issues before they occur and ensure best-practices</p>
        </div>
        <div class="info-icons__content">
          <ul class="info-icons__features">
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-verified.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Automated verification of cluster compliance and conformance
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-hammerfile.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Ready-made policy packs for common cloud native architecture
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-opensource.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Visual reporting for internal compliance requirements
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-file.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Support for custom data ingestion and outputs
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Icon Section (Green, with horizontal rule) -->


<!-- Info Icon Section (Green, with horizontal rule) -->
<section id="training" class="info-icons info-icons--hr info-icons--maroon">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="info-icons__hero">
          <div class="info-icons__hero-icon">
            {{ partial "svg/icon-online-training-large.svg" }}
          </div>
          <h2>Online Training and Wargaming</h2>
          <p>Up-skill your team with Kubernetes training</p>
        </div>
        <div class="info-icons__content">
          <ul class="info-icons__features">
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-teaching.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Self-paced Kubernetes In Practice Day 1 &amp; 2 for your operations team
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-key.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Exclusive access to the Jetstack Customer Portal 'Flightdeck'
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-racks.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Platform reliability and sustainability through constant learning and advice
              </p>
            </li>
            <li class="info-icons__feature">
              <div class="info-icons__feature-icon">
                {{ partial "svg/icon-rocket.svg" }}
              </div>
              <p class="info-icons__feature-copy">
                Discounted instructor led training, from our extensive <a href="/training">training</a> portfolio
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Icon Section (Green, with horizontal rule) -->


<!-- Open Source Panel -->
<section class="open-source" style="background-image: linear-gradient(to right, rgba(138, 99, 250, 0.93), rgba(138, 28, 250, 0.93)), url(/img/jpg/male-working-on-laptop.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="open-source__top">
          <h2>Jetstack's commitment to Open Source</h2>
          <ul class="open-source__commitments">
            <li class="open-source__commitment">
              <span class="open-source__commitment-hero">
                30 <span class="open-source__sub">Million</span> +
              </span>
              <span class="open-source__detail">
                Image pulls a month
              </span>
            </li>
            <li class="open-source__commitment">
              <span class="open-source__commitment-hero">
                8000 +
              </span>
              <span class="open-source__detail">
                GitHub Stars
              </span>
            </li>
            <li class="open-source__commitment">
              <span class="open-source__commitment-hero">
                250 +
              </span>
              <span class="open-source__detail">
                Open Source Contributors
              </span>
            </li>
          </ul>
        </div>

        <div class="open-source__bottom">
          <p>Founding member of</p>
          <div class="open-source__kubernetes-icon">
            {{ partial "svg/icon-cert-kube.svg" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Open Source Panel -->



{{ end }}

{{ define "cta"}}
<!-- Subscriptions Form -->
<section id="contactform" class="subscriptions-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Enquire about Subscription</h2>
        <div style="margin: 0 auto; max-width: 400px;">
          <script src='https://jetstacksales.freshsales.io/web_forms/0653dacfd6392c6b8d0f62ae3b5c269f56ce1790b315f949ca82b38bc864c510/form.js' crossorigin='anonymous' id='fs_0653dacfd6392c6b8d0f62ae3b5c269f56ce1790b315f949ca82b38bc864c510'></script>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Subscriptions Form -->
{{ end }}
