{{ define "title" }} | In-person Training{{ end }}

{{ define "navbar" }}
{{ partial "navbar/light-transparent.html" . }}
{{ end }}

{{ define "body" }}

{{ $context := . }}

<div class="container-fluid" id="page-content">

  {{ partial "panels/headline-with-img-color-overlay.html" .Site.Data.config.headline.training_in_person_section }}

  <section class="container">

    <div class="row">

      <div class="col-sm-12">
        {{ range (slice "Kubernetes in Practice" "Advanced Operations" "Application Development") }}
          <h2 class="section-title">{{ . }}</h2>
          <div class="card-list">
          {{ range where $context.Pages ".Params.training_level" "=" . }}
            <article class="card">
                <a href="{{ .RelPermalink }}" class="card__link">
                <img class="card__img" src="{{ .Params.card_image }}" />
                <header>
                  <h3 class="card__title">{{ .Title }}</h3>
                  <h4 class="card__subtitle">One day training</h4>
                </header>
              </a>
              <p class="card__copy">{{ .Params.card_description }}</p>
            </article>
          {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

</div>

{{ end }}

{{ define "cta" }}
{{ partial "ctas/subscription-training-course"}}
{{ end }}

{{ define "footer" }}
{{ partial "footer/minimal-light.html" . }}
{{ end }}
