{{ define "title" }} | Training{{ end }}

{{ define "navbar" }}
    {{ partial "navbar/light.html" . }}
{{ end }}

{{ define "body" }}


<div class="container-fluid" id="page-content">
    
  {{ partial "panels/blueheadline.html" .Site.Data.config.headline.training_section }}
  
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        
        <div>
          <h2>What is it?</h2>
          <p>Jetstack have built their training courses around the knowledge gained in delivering production-ready Kubernetes for their customers.</p>
          <p>They have seen Kubernetes used at every scale, from the smallest of businesses to the largest of enterprises, and know where all the sharp edges are!</p>
          <p>Jetstack have run dozens of Kubernetes training workshops, and have refined their materials over the course of three years.</p>
          <p>They know exactly what you need to up-skill quickly and effectively.</p>
          <p class="black"><strong>With Jetstack’s training subscription, you get:</strong></p>
        </div>

        <div class="featurelist">
          <div class="featurelist__container">
            <ul class="featurelist__list">
              <li>Access to Jetstack’s training modules, covering beginner, intermediate and advanced material.</li>
              <li>Wargaming scenarios: test how you would respond to Kubernetes production issues.</li>
              <li>Operational playbooks giving step-by-step fixes to common production issues.</li>
              <li>Automatically updated materials to reflect new Kubernetes features, and the latest ecosystem tools.</li>
            </ul>
          </div>
        </div>

      </div>
     
      <div class="col-md-offset-2 col-md-5">
        <div class="image-with-tile">
          <img class="image-with-tile__img" src="/img/jpg/training-laptop-480x480.jpg" alt="">
        </div>
        <blockquote class="testimonial">
            <p class="testimonial__copy">"{{ .Site.Data.config.panels.training_subscription.testimonial.copy }}"</p>
            <cite class="testimonial__cite">{{ .Site.Data.config.panels.training_subscription.testimonial.cite }}</cite>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-8">
          <div class="image-with-tile image-with-tile--horizontal">
              <img class="image-with-tile__img" src="/img/jpg/training-team-1200x670.jpg" alt="">
            </div>
      </div>
    </div>
  </section>


    

    

</div>

{{ end }}

{{ define "scripts" }}

{{ end }}
