@font-face {
  font-family: Hind;
  src: url('/fonts/Hind-Regular.woff2') format('woff2'),
    url('/fonts/Hind-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/fonts/Hind-Medium.woff2') format('woff2'),
    url('/fonts/Hind-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/fonts/Hind-SemiBold.woff2') format('woff2'),
    url('/fonts/Hind-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hind;
  src: url('/fonts/Hind-Bold.woff2') format('woff2'),
    url('/fonts/Hind-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply font-hind font-medium text-dark-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat font-bold;
}

a {
  @apply text-blue-2 underline;
}

a,
button,
input,
select {
  @apply focus:outline-none;
  @apply focus-visible:ring;
}

.container {
  max-width: calc(1313px + 8%);
  margin-left: auto;
  margin-right: auto;
  padding-right: 4%;
  padding-left: 4%;
}

.header__hits {
  position: absolute;
  top: 100%;
  background: white;
  z-index: 1000;
  max-height: 400px;

  @apply shadow-lg;
}

.header__hits ul {
  max-height: 352px;
  padding-bottom: 48px;
  overflow-y: scroll;
}

.btn-primary {
  border-radius: 0.3rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(141.3deg, #ff00b8 14.53%, #326ce5 129.58%);
}

.btn-primary::before {
  position: absolute;
  content: '';
  inset: 0;
  background-image: linear-gradient(141.3deg, #326ce5 14.53%, #326ce5 129.58%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 0.3rem;
}

.btn-primary:hover::before {
  opacity: 1;
}

.DocSearch-Form {
  @apply ring-2 ring-blue-2;
}

.DocSearch-Input {
  background: transparent;
}

.DocSearch-Input:focus {
  @apply ring-0;
}

a.hidden-link {
  display: none;
}

.DocSearch--active #nav-menu-mobile {
  margin-top: -1000px;
}

.DocSearch-SearchBar {
  margin-bottom: 5px;
}

div.rotate {
  table, th, td {
    border: 0;
    border-collapse: collapse;
  }

  th:nth-child(5),
  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(8) {
    writing-mode: vertical-rl;
    padding-top: 1.3em;
    padding-bottom: 0;
    line-height: 1.2em;
    text-align: left;
    vertical-align: middle;
  }

  th:nth-child(1),
  th:nth-child(3),
  td:nth-child(1),
  td:nth-child(3),
  td:nth-child(5),
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(8) {
    text-align: center;
  }
}
