@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Regular.woff2') format('woff2'),
    url('/fonts/Hind-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Medium.woff2') format('woff2'),
    url('/fonts/Hind-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-SemiBold.woff2') format('woff2'),
    url('/fonts/Hind-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Bold.woff2') format('woff2'),
    url('/fonts/Hind-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply font-hind font-medium text-dark-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat font-bold;
}

a:not(.btn-gradient):not(.no-underline) {
  @apply text-blue-2 underline;
}

a,
button,
input,
select {
  @apply focus:outline-none;
  @apply focus-visible:ring;
}

.container {
  max-width: calc(1313px + 8%);
  margin-left: auto;
  margin-right: auto;
  padding-right: 4%;
  padding-left: 4%;
}

.header__hits {
  position: absolute;
  top: 100%;
  background: white;
  z-index: 1000;
  max-height: 400px;
  @apply shadow-lg;
}

.header__hits ul {
  max-height: 352px;
  padding-bottom: 48px;
  overflow-y: scroll;
}
