    <section class="white">
        <div class="service-overview">
            <div class="kubernetes">
                <div class="logo">
                    <img src="/img/png/kubernetes-logo.png"/>
                </div>
                <div class="overview">
                    <ul>
                        <li><p>Free you developers to focus on ‘Features’</p></li>
                        <li><p>Gets code into production quicker</p></li>
                        <li><p>Reduces your operational overhead</p></li>
                        <li><p>Gives vendor neutrality</p></li>
                        <li><p>Offers cross-cloud portability</p></li>
                    </ul>

                    <p>Jetstack will help you get there faster with market-leading professional services and
                        engineering</p>
                </div>
            </div>
        </div>
    </section>