  <section class="darkblue center" id="partners">

    <div style="display: inline-block; width: 30%;">
      <div class="text-light" style="text-align: right;">
        <p style="font-size: 1.5em;">Toolkits - </p>
        <p style="font-size: 1.5em;">Engineering - </p>
        <p style="font-size: 1.5em;">Consulting - </p>
        <p style="font-size: 1.5em;">Workshops - </p>
        <p style="font-size: 1.5em;">Training - </p>
      </div>
    </div>
    <div style="display: inline-block; width: 60%;">
      <img src="/img/png/engine.png" width="600" />
    </div>
      
  </section>