<section class="blue center" id="in-numbers">
    <div class="container">
        <h2 class="text-light">Kubernetes in Numbers</h2>
        <p class="text-light-alt">Real-time figures</p>

        <div class="row">
            <div class="item">
                <div id="k8s-numbers-commits" class="large text-light">...</div>
                <div class="small text-light-alt">Commits</div>
            </div>

            <div class="item">
                <div id="k8s-numbers-contributors" class="large text-light">1070</div>
                <div class="small text-light-alt">Contributors</div>
            </div>

            <div class="item">
                <div id="k8s-numbers-stars" class="large text-light">...</div>
                <div class="small text-light-alt">Stars</div>
            </div>
        </div>
    </div>
</section>