
{{ partial "panels/intro.html" . }}

<section class="container tight">

  {{ range $index, $page := .service_features }}
  <div class="row row--no-flex">
      <div class="col-sm-6 col-md-3">
        <a href="{{ .link }}" class="icon-panel">
          <figure class="icon-panel__icon">
            {{ partial .img . }}
          </figure>
          <h4 class="icon-panel__title">{{ .name }}</h4>
          <p class="icon-panel__copy">{{ .desc}}</p>
        </a>
      </div>
  
  {{ end }}

  </div>
</section>