<section class="Testimonials" data-testimonial-fader>

    <div class="Testimonials__content">

      {{ range $index, $quote := . }}
      <blockquote class="Testimonials__block {{ if eq $index 0 }}Testimonials__block--active{{else}}Testimonials__block--hidden{{ end }}">
        <p class="Testimonials__quote">"{{ trim $quote.quote "\n"}}"</p>
        <cite class="Testimonials__cite">
          <span>{{ $quote.name }} </span>
          <a class="Testimonials__link" href="{{ $quote.link.url }}" target="_blank" rel="noopener noreferrer">{{ $quote.link.title }}</a>
        </cite>
      </blockquote>
      {{ end }}

     
    </div>
    
</section>