<section class="grey tight" id="timeline">
    <div class="line"></div>
    <div class="container">
        <h2>History</h2>
        <div class="timeline-container">
            <div class="timeline-slider" style="left: 0%;">

                {{ range $index, $page := . }}
                  {{ if ge $index 0 }}
                  <div class="event closed" style="left: 50%;">
                  {{ else }}
                  <div class="event open" style="left: 50%;">
                  {{ end }}
                      <div class="event-container">
                          <div class="year">
                              <p>{{ .year }}</p>
                          </div>
                          <div class="image">
                              <img src="{{ .img }}">
                          </div>
                          <div class="text">
                              <p>{{ .desc | markdownify }}</p>
                          </div>
                      </div>
                  </div>
                {{ end }}

            </div>
        </div>
        <div class="timeline-navigation">
            <a href="javascript:void(0)" class="left timelineNav" onclick="timelineLeft()">
                <img src="/img/png/timeline-left.png">
            </a>
            <a href="javascript:void(0)" class="right timelineNav" onclick="timelineRight()">
                <img src="/img/png/timeline-right.png">
            </a>
        </div>
    </div>
    
</section>