<div id="engine">
  <section class="white bordered">
    <div class="container">
      <div class="row">
        <div class="features">
          <h2 class="headline">{{ .headline }}</h2>
          <div class="strapline">{{ .strapline }}</div>
          <div class="bulletpoints">
            {{ range $index, $item := .items }}
              <div class="bulletpoint">
                <img src="/img/png/bluedot.png" class="bulletpointimg" />
                {{ $item }}
              </div>
            {{ end }}
          </div>
        </div>
        <div class="logo">
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
          <td align="center" valign="middle">
            <img src="/img/png/newiconblue.png" />
          </td>
          </tr>
          </table>
        </div>
      </div>
      <div style="text-align: center;">

        <a href="{{ .link }}" class="calltoactionbutton btn btn-primary">{{ .button }}</a>

      </div>
    </div>
  </section>
</div>