<div id="footer">
    <section class="grey pre-footer">
        <div class="container">
            <div class="block">
                <h3>{{ .Site.Data.text.get_started }}</h3>
                <p class="footer-form"><a href="contact.html" class="btn btn-primary">{{ .Site.Data.text.get_in_touch }}</a></p>
            </div>
        </div>
    </section>

    <section class="blue tight main-footer">
        <div class="container">
            <div class="row">
                <div class="item logo">
                    <a href="/"><img src="/img/png/logo-white.png"></a>
                </div>
                <div class="item social">
                    {{ partial "sociallinks.html" .Site.Data.menu.social }}
                </div>
            </div>
            <div class="row footer-menu">
                {{ partial "div_menulinks.html" .Site.Data.menu.links }}
                <div class="item">
                    <a href="/contact.html">Contact</a>
                </div>
            </div>
            <div class="copyright">
                <p>{{ .Site.Data.text.copyright }}</p>
            </div>
        </div>
    </section>
</div>

<script src="https://use.typekit.net/lck0ocu.js" async=""></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/timeline.js"></script>
<script src="/js/menu.js"></script>
<script>
    (function (d) {
        var config = {
                    kitId: 'lck0ocu',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
            a = this.readyState;
            if (f || a && a != "complete" && a != "loaded")return;
            f = true;
            clearTimeout(t);
            try {
                Typekit.load(config)
            } catch (e) {
            }
        };
        s.parentNode.insertBefore(tk, s)
    })(document);
</script>



</body></html>