# Check the content and lint the code
name: check
on:
  push:
    branches: [master]
  pull_request:
jobs:
  pull-cert-manager-website-verify:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run check
